@mixin boxSizing($type) {
  box-sizing: $type;
  -moz-box-sizing: $type;
}

@mixin transition_ext($timing) {
  -moz-transition: all $timing ease-in-out;
  -o-transition: all $timing ease-in-out;
  -webkit-transition: all $timing ease-in-out;
  -ms-transition: all $timing ease-in-out;
  transition: all $timing ease-in-out;
}

@mixin transition_extend($timing, $effect) {
  -moz-transition: all $timing $effect;
  -o-transition: all $timing $effect;
  -webkit-transition: all $timing $effect;
  -ms-transition: all $timing $effect;
  transition: all $timing $effect;
}

@mixin borderRadius($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin borderRadius_ext($topL, $topR, $bottomL, $bottomR) {
	-moz-border-radius: $topL $topR $bottomL $bottomR;
	-webkit-border-radius: $topL $topR $bottomL $bottomR;
	border-radius: $topL $topR $bottomL $bottomR;
}

@mixin textShadow($shadow) {
	-webkit-text-shadow: $shadow;
	-o-text-shadow: $shadow;
	-moz-text-shadow: $shadow;
	text-shadow: $shadow;
}

@mixin boxShadow($boxShadow) {
	-webkit-box-shadow: $boxShadow;
	-o-box-shadow: $boxShadow;
	-moz-box-shadow: $boxShadow;
	box-shadow: $boxShadow;
}

@mixin boxShadow_ext($x, $y, $z, $r, $g, $b, $a) {
	-webkit-box-shadow: $x $y $z rgba($r, $g, $b, $a);
	-o-box-shadow: $x $y $z rgba($r, $g, $b, $a);
	-moz-box-shadow: $x $y $z rgba($r, $g, $b, $a);
	box-shadow: $x $y $z rgba($r, $g, $b, $a);
}

@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin flex-direction($value: row) {
	@if $value == row-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: horizontal;
	} @else if $value == column {
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
	} @else if $value == column-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: vertical;
	} @else {
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
	}
	-webkit-flex-direction: $value;
	-moz-flex-direction: $value;
	-ms-flex-direction: $value;
	flex-direction: $value;
}

@function empty($value) {
  @if not $value 
      or $value == "" 
      or $value == 0
      or $value == ()
      or length($value) == 0 {
    @return true;
  }
  @return false;
}