/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-gutenblock1-block1 {
	background-color: #000;
	color: #fff;
	padding: 22px;
}
.wp-block-gutenblock1-block1 h3 {
	margin-top: 0;
	color: #fff;
}
