/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-gutenberg-examples-rj-toolbar-controls {
	color: #fff;
	background: #00a8db;
	border: 2px solid #0D72B2;
	padding: 20px;
}

.gutenberg-examples-align-left {
	text-align: left;
}

.gutenberg-examples-align-center {
	text-align: center;
}

.gutenberg-examples-align-right {
	text-align: right;
}
