@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


body {
	background:#f5f5f5;
	
	.row-eq-height {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	}

	@media(min-width:1300px){
		.container.wide {
			width: 1280px;
		}
	}

	#body-background {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		background-clip: border-box;
		background-origin: padding-box;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#body-background-gradient {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		z-index: -999;

		&.horizontal {
			background: linear-gradient(270deg, $theme-gradient-color2-rgba, $theme-gradient-color1-rgba);

			-webkit-animation: gradientHorizontal $theme-gradient-speed+s ease infinite;
			-moz-animation: gradientHorizontal $theme-gradient-speed+s ease infinite;
			-o-animation: gradientHorizontal $theme-gradient-speed+s ease infinite;
			animation: gradientHorizontal $theme-gradient-speed+s ease infinite;

			background-size: 400% 400%;

			@-webkit-keyframes gradientHorizontal {
			    0%{background-position:0% 50%}
			    50%{background-position:100% 50%}
			    100%{background-position:0% 50%}
			}
			@-moz-keyframes gradientHorizontal {
			    0%{background-position:0% 50%}
			    50%{background-position:100% 50%}
			    100%{background-position:0% 50%}
			}
			@-o-keyframes gradientHorizontal {
			    0%{background-position:0% 50%}
			    50%{background-position:100% 50%}
			    100%{background-position:0% 50%}
			}
			@keyframes gradientHorizontal {
			    0%{background-position:0% 50%}
			    50%{background-position:100% 50%}
			    100%{background-position:0% 50%}
			}
		}

		&.vertical {
			background: linear-gradient(180deg, $theme-gradient-color2-rgba, $theme-gradient-color1-rgba);
			-webkit-animation: gradientVertical $theme-gradient-speed+s ease infinite;
			-moz-animation: gradientVertical $theme-gradient-speed+s ease infinite;
			-o-animation: gradientVertical $theme-gradient-speed+s ease infinite;
			animation: gradientVertical $theme-gradient-speed+s ease infinite;

			background-size: 400% 400%;

			@-webkit-keyframes gradientVertical {
			    0%{background-position:50% 0%}
			    50%{background-position:51% 100%}
			    100%{background-position:50% 0%}
			}
			@-moz-keyframes gradientVertical {
			    0%{background-position:50% 0%}
			    50%{background-position:51% 100%}
			    100%{background-position:50% 0%}
			}
			@-o-keyframes gradientVertical {
			    0%{background-position:50% 0%}
			    50%{background-position:51% 100%}
			    100%{background-position:50% 0%}
			}
			@keyframes gradientVertical {
			    0%{background-position:50% 0%}
			    50%{background-position:51% 100%}
			    100%{background-position:50% 0%}
			}
		}
	}

}
