.site-footer {
	background-image: linear-gradient(270deg, #ff9800 0%, #f54b16 100%);
	color: $footer-text-color-color;
	font-family: $theme-primary-font-family;
	padding:45px 0 14px 0;

	p {
		color: $footer-text-color-color;
		font-size:14px;
		font-weight:500;
	}

	.textwidget {
		img {
			padding:6px 0 12px 0;
			margin:0;
		}
	}

	#footer-text {
		padding-top: 22px;
		padding-bottom: 0px;

		p {
			line-height:16px;
			font-size: $footer-text-color-font-size;
			font-weight: $footer-text-color-font-weight;
			font-style: $footer-text-color-font-style;
			text-transform: $footer-text-color-text-transform;

			i,svg {
				font-size:14px;
				margin:0 0 0 10px;
			}
		}

		a:hover {
			text-decoration: underline;
		}

	}

	.footer-mobile {
		aside {
			width:100%;
			text-align:center;

			.textwidget {
				> p {
					line-height:16px;
					font-size: $footer-text-color-font-size;
					font-weight: $footer-text-color-font-weight;
					font-style: $footer-text-color-font-style;
					text-transform: $footer-text-color-text-transform;

					i,svg {
						font-size:20px;
						margin:0 10px 10px;
					}
				}
			}
		}
	}
}
