// Default styling
  #container > header {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 9;
    padding: 11px 0;
    @include transition_ext(0.3s);

    &:before {
      content: '';
      background-color: $navbar-bottom-background-color-rgba;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      @include transition_ext(0.3s);
    }

    &.static {
      position: absolute;
    }

    > .container > .row {
      display: flex;
    }

    .site-logo {
      height: 100%;
      justify-content: flex-start;
      align-items: center;
      display: flex;

      position: relative;
      padding-top: $logo-top+px;
      padding-bottom: $logo-bottom+px;

      a {
        position: relative;
      }

      img {
        width: auto;
        max-width: 100%;
        height: $logo-height+px;
        vertical-align: top;
        float: left;
        @include transition_ext(0.3s);
      }

      @media(max-width:991px) {
        img {
          width:100%;
          height:auto;
          padding:5px 0;
        }
      }

      .logo-regular {
        display:block;
      }

      .logo-transparent {
        display:none;
      }


      a:hover {
        text-decoration: none;
      }
    }

    .site-title {
      color: $navbar-bottom-link-color-regular;
      text-transform: $navbar-bottom-text-transform;
      font-family: $navbar-bottom-font-family;
      font-size: $navbar-bottom-font-size;
      font-weight: $navbar-bottom-font-weight;
      display: block;

      .sticky & {
        color: $sticky-navbar-bottom-link-color-regular;
      }
    }

    &.transparent {
      background-color: transparent;

      &:not(.sticky) {
        &:before {
          top: -100%;
        }
      }

      .logo-regular {
        display:none;
      }

      .logo-transparent {
        display:block;
      }

      .site-search-open {
        color: $navbar-bottom-link-color-regular;
      }
    }

    &.sticky {
      background-color: $navbar-bottom-background-color-rgba;

      .logo-regular {
        display:block;
      }

      .logo-transparent {
        display:none;
      }

      .site-search-open {
        color: $sticky-navbar-bottom-link-color-regular;
      }

    }

    .site-search-open {
      display: inline-block;
      margin: -2px 22px 0 0;
      color: $sticky-navbar-bottom-link-color-regular;
      cursor: pointer;
      @include transition_ext(0.3s);


      &:hover,
      &:active {
        color: $sticky-navbar-bottom-link-color-hover;
      }
    }

    @media(max-width:767px){
      .site-logo {
        padding:0;

        img {
          height:38px;
          width:auto;
        }
      }
    }
    @media(max-width:400px){
      .site-logo {
        img {
          height:auto;
          width:100%;
        }
      }
    }
  }

  nav#mainMenu {

    text-align: right;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;

    & > * {
      display: inline-block;
    }

    //Main menu, no dropdown
    ul.menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: right;

      li {
        display: inline-block;
        text-align: left;
        position: relative;
        padding: 7px 0 3px;
        margin: 0 0 0 30px;

        &:first-child {
          margin: 0;
        }

        ul.sub-menu {
          display: inline-block;
          position: absolute;
          top: 100%;
          left:-22px;
          width: auto;
          margin: 0;
          padding: 30px 0 0 0;
          z-index: 99;
          border: 0;
          min-width: 200px;
          max-width: 100%;
          visibility: hidden;
          opacity: 0;
          transition: all 0.3s ease-in-out;
          background-color: $navbar-bottom-background-color-rgba;

          header.transparent:not(.sticky) & {
            background-color: transparent;
          }

          &.move {
            left: auto !important;
            right: -22px;
          }

          & > li {
            position: relative;
            display: block;
            border: 0;
            width: 100%;
            padding: 0;
            margin: 22px 0 0 0;
            transition: all 0.3s ease-in-out;

            ul.sub-menu {
              left: 100%;
              margin-left: 0;
              top: 0;
            }

            & > a {
              text-decoration: none !important;

              border: 0;

              transition: all 0.3s ease-in-out;
              padding: 11px 22px;
              margin: 0;

              &:hover {
                border:0 transparent;

                &:active {
                  border:0 transparent;
                  color: $navbar-bottom-link-color-hover;

                  .sticky & {
                    border:0 transparent;
                    color: $sticky-navbar-bottom-link-color-hover;
                  }
                }
              }
            }
          }
        }

        .move {
            right: 0;
            ul.sub-menu {
              left: auto !important;
              right: 100%;
            }
        }

         &:hover,
         &.current-menu-item,
         &.current-menu-parent {
          & > a {
            color: $sticky-navbar-bottom-link-color-hover;
            text-decoration: none !important;
            padding-bottom: 0px;

            .sticky & {
              color: $sticky-navbar-bottom-link-color-hover;
            }
          }
        }
        &:hover {

        	> ul.sub-menu {
          		visibility: visible;
          		opacity: 1;

          		& > li {
          			margin: 0;
          		}
          	}
        }

        a {
          display: block;
          @include transition_ext(0.3s);
          text-decoration: none !important;

          color: $sticky-navbar-bottom-link-color-regular;
          font-weight:500;
          padding: 10px 0;

          text-transform: $navbar-bottom-text-transform;
          font-family: $navbar-bottom-font-family;
          font-size: $navbar-bottom-font-size;

          border-bottom: 2px solid transparent;

          .transparent & {
            color: $navbar-bottom-link-color-regular;
          }

          .sticky & {
            color: $sticky-navbar-bottom-link-color-regular;
          }

          &:hover,
          &:active {
            color: $navbar-bottom-link-color-hover;
            text-decoration: none;
            padding-bottom: 0px;

            .transparent & {
              color: $navbar-bottom-link-color-hover;
            }

            .sticky & {
              color: $sticky-navbar-bottom-link-color-hover;
            }

          }

        }

        .menu-item-has-children {
          > a:after {
            content: "\e080";
            padding: 0 0 0 11px;
            position: relative;
            top: 1px;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            font-size: 0.8em;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
        }
      }

      @media (max-width:1199px){
        li {
          margin-left:15px;
        }
      }

      /* border */
      > li {
        &:hover,
        &.current-menu-item,
        &.current-menu-parent {
         & > a {
           border-bottom: 2px solid $sticky-navbar-bottom-link-color-hover;

           .sticky & {
             border-bottom: 2px solid $sticky-navbar-bottom-link-color-hover;
           }
         }
       }
      }
    }

    @media (max-width:1199px){
      .site-search-open {
        margin: 0 10px 0 0;
      }
    }
    @media (max-width:767px){
      .site-search-open {
        margin-top: 0px;
      }
    }
  }



  #site-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    padding-top: 35vh;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    background: rgba(0,0,0,0.5);
    @include transition_extend(.2s, ease-in-out);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $search-background-rgba;
      z-index: -1;
      @include transition_extend(.2s, ease-in-out);
    }

    &.active {
      opacity: 1;
      visibility: visible;

      &:before {
        width: calc(100% - 60px);
        height: calc(100% - 60px);
        top: 30px;
        left: 30px;
      }

      input.s,
      h6 {
        transform: scale(1, 1);
      }
    }

    #site-search-close {
      position: absolute;
      top: 60px;
      right: 60px;

      i {
        color: $search-color-rgba;
        font-size: 24px;
      }
    }

    h6 {
      color: $search-color-rgba;
      font-size: 21px;
      font-weight: 400;
      font-style: normal;
      line-height: 24px;
      margin: 0 auto 44px auto;
      padding: 0;
      transform: scale(0.9, 0.9);
      @include transition_extend(.2s, ease-in-out);
    }

    input.s {
      max-width: 80%;
      width: auto;
      background: transparent;
      outline: none;
      border: none;
      border-bottom: transparentize($search-color-rgba, .6) 1px solid;
      color: $search-color-rgba;
      margin: 0;
      padding: 0 0 5px 0;
      text-align: center;
      font-size: 60px;
      font-weight: 400;
      line-height: 20px;
      @include transition_extend(.2s, ease-in-out);
      transform: scale(0.9, 0.9);

      /* .light-text & {
        border-bottom-color: transparentize($navbar-bottom-link-color-regular, .6);
        color: $navbar-bottom-link-color-regular;
      } */

      &:focus {
        padding: 0;
        margin: 0 0 5px 0;
        border-bottom-color: transparentize($search-color-rgba, 0);

        /* .light-text & {
          border-bottom-color: transparentize($navbar-bottom-link-color-regular, 0);
        } */
      }
    }

    .button {
      display: none !important;
    }
  }

  header.transparent:not(.sticky){
    .searchform:not(.mobile) {
      input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not(.select2-search__field), textarea {
        border-color:white;
        color:white;
      }
    }
  }

  .searchform {
    opacity:0;
    margin-right:10px;
    transition: all 0.4s ease-out;

    .button {
      display:none;
    }

    &.show-form {
      opacity:1;
      transition: all 0.4s ease-out;
    }

    &.mobile {
      position:absolute;
      top:100%;
      right:0;
      background:white;
      width:50%;
      min-width:150px;
      padding:10px;

      input {
        width:100%;
      }
    }
  }

  #content {
    padding: $logo-height+$logo-top+$logo-bottom+22+px 0 0 0;
  }

  @media(max-width:767px){
    #content {
      padding: 60px 0 0 0;
    }
  }

body.home #content {
    padding: 0;
}
