section {

	position: relative;
	background-clip: border-box;
	background-origin: padding-box;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	line-height: auto;

	&.parallax {
		background-attachment: fixed;
	}

	&.hentry,
	&.grid,
	&.page-index,
	&#section-index-post,
	&#section-index- {
		background-color: #eee;
	}

	&.hentry,
	&.plain-content,
	&.widgets-area,
	&.index {
		padding: 66px 0 66px 0;
	}


	&.page-index,
	&#section-index-post,
	&#section-index- {
		padding: 66px 0 44px 0;
	}

	@media(max-width:767px) {
		&.hentry,
		&.plain-content,
		&.widgets-area,
		&.page-index,
		&#section-index-post,
		&#section-index- {
			padding: 20px 0 !important;
		}
	}

	.section-video {
		width: 100%;
		position: absolute;
		height: 100%;
		overflow: hidden;
		top: 0;
		left: 0;

		video {
			height: auto;
		    z-index: 1;
		    background-size: cover;
		    transition: 1s opacity;
		    display: block;
		    min-height: 100%;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    min-width: 100%;
		    width: auto;
		    transform: translateX(-50%) translateY(-50%);
		}
	}

	.section-title {
		@extend .subtitle;

		margin: 0;
		padding: 0 0 30px 0;
	}

	.border {
		width: 100%;
		height: 80px;
		display: block;
		position: absolute;
		left: 0;
		z-index: 1;

		&.border-top {
			top: -79px;

			&.wave {
				transform: scale(1,-1);
			}
		}

		&.border-bottom {
			bottom: -79px;
			z-index: 2;

			&.wave {
				transform: scale(-1,1);
			}
		}
	}

	.container.full-width {
		width: 100%;
	}

	/*EBS styling */
	.panel,
	.panel-group .panel {
		border-radius:0;
		box-shadow:none;
	}

	.panel-heading h2,
	.panel-heading h3,
	.panel-heading h4 {
		margin-bottom:0;
	}

	.nav-tabs>li.active>a,
	.nav-tabs>li.active>a:hover,
	.nav-tabs>li.active>a:focus {
		border-radius:0;
	}

	.tab-content {
		margin-top:10px;
		margin-bottom:20px;
	}

	.list-group-item {
		border-radius:0 !important;
	}

	.alert,
	.dropdown-menu,
	.label {
		border-radius:0;
		box-shadow:none;
	}

	.badge,
	.progress {
		border-radius:0;
	}

}
