img {
	max-width: 100%;
	height: auto;
}

section.plain-content {
	overflow:hidden;

	&.big-header {
		@media (min-width: 992px) {
			.container {
				width:880px;
			}
		}
	}

	.boxed {
		text-align:center;
	}
	@media (min-width:768px) {
		.boxed {
			text-align: left;
			background:white;
			padding:50px 80px;
			box-shadow: 0 0 26px rgba(10, 31, 68, 0.12);
		}
	}

	@media(min-width:991px){
		.content-vertical-centered {
			display:table;
			height:100%;

			.post-content {
				vertical-align: middle;
				display: table-cell;
			}
		}
	}

	.big-header {
		height:288px;
		background-size:contain;
		background-position: center left;
		background-repeat:no-repeat;
		margin:0 0 30px 0;

		.title {
			position:relative;
			height:100%;
			float:right;
			width:50%;

			h2 {
				position:absolute;
				bottom:45px;
				display:inline-block;
				background:white;
				padding:20px 35px;
				box-shadow: 0 18px 18px rgba(10, 31, 68, 0.12), 0 0 1px rgba(10, 31, 68, 0.1);
			}
		}
	}

	@media (max-width:767px) {
		.big-header {
			height:auto;
			background-image:none !important;

			.title {
				width:100%;
				float:none;
				height:auto;

				h2 {
					position:relative;
					bottom:auto;
					padding:35px 0 0 0;
					box-shadow:none;
				}
			}
		}
	}

	.image-left img {
		float:right;
	}

	@media (max-width:991px) {
		.big-header {
			height:300px;
		}
	}
	@media (max-width:767px) {
		.big-header {
			height:auto;
			background:transparent;

			.title {
				width:100%;
			}
		}
	}

	&.image-left,
	&.image-right {
		@media(max-width:767px){
			.post-content {
				text-align: center;
				padding:30px 0;
			}
		}
	}

	iframe {
		width:100%;
		box-shadow: 0 18px 18px rgba(10, 31, 68, 0.12), 0 0 1px rgba(10, 31, 68, 0.1);
	}

	table {
		width:100%;
		vertical-align:top;
		tr{
			td{
				vertical-align:top;
				line-height:28px;
			}
		}
	}

	&.winnaar {
		.section-title {
			font-size: 22px;
			font-weight: 700;
			text-transform: uppercase;
		}

		.winnaar-col {
			h3 {
				font-size: 23px;
				font-weight: 500;
			}

			img {
				margin:0 0 15px 0;
			}
		}
	}
}

.swiper-gallery {

	max-height:420px;

	.swiper-slide {
		text-align:center;
		img {
			border-radius:5px;
			transition: all .2s ease-in-out;
			height:auto;
			max-height:400px;
			width:auto;
			transform: scale(0.9);

		}

		&.swiper-slide-active {
			img {
				transform: scale(1);
    		height: auto;
				max-height:400px;
				width:auto;
			}
		}
	}


		.slider-arrows {
			position: absolute;
			display: inline-block;
			top: 40%;
			left: -0px;
			width: 100%;
			padding: 20px 0;

			.swiper-button-prev,
			.swiper-button-next {
					left: auto;
					right: auto;
					position: relative;
					display: inline-block;
					text-align: center;
					width: 48px;
					height: 48px;
					color: #f56a16;
					border: 1px solid #f56a16;
					border-radius:50%;
	        opacity:0.6;
					@include transition_ext(0.3s);


					.glyphicon {
						top: 0;
						line-height: 48px;
					}

					&:hover {
	          opacity:1;
					}
			}

			.swiper-button-prev {
				float: left;
				margin-left:-100px;
	      background:url(../images/arrow-left-orange.png) center center no-repeat;
				background-size:15px;
			}

			.swiper-button-next {
				float: right;
				margin-right:-100px;
	      background:url(../images/arrow-right-orange.png) center center no-repeat;
				background-size:15px;
			}

			@media (max-width:1400px){
				.swiper-button-prev {
					margin-left:-60px;
				}

				.swiper-button-next {
					margin-right:-60px;
				}
			}
		}
}

section.tweets {
	overflow:hidden;
}


section.plus-content {
	> .container {
		> .row {
			display: flex;

			@media (max-width:767px) {
				display: block;
			}

			> div {
				display: flex;
				align-items: center;

				.feat_image {
					&.align-center {
						text-align: center;
						width: 100%;

						@media (max-width:767px) {
							margin-bottom: 66px;
						}
					}
				}
			}
		}
	}
}

article {
	margin: 0 0 33px 0;

	#page-index & {
		padding: 33px 33px 0 33px;
		@include borderRadius($button-border-radius+px);
		@include transition_ext(0.3s);
		background-color: $theme-background-color-rgba;

		&:hover {
			@include boxShadow_ext(0, 0, 33px, 0, 0, 0, 0.15);
		}
	}
}

.post-content {

	@extend .body;

	position: relative;
	z-index: 1;
	display: inline-block;
	width: 100%;

	a:not(.btn) {
		color: $link-color-dark-regular;
		text-decoration: none;
		@include transition_ext(0.3s);

		&:hover {
			color: $link-color-dark-hover;
		}

		&:active {
			color: $link-color-dark-active;
		}

		.light-text & {
		  color: $link-color-light-regular;

		  &:hover {
		  	color: $link-color-light-hover;
		  }

		  &:active {
		  	color: $link-color-light-active;
		  }
		}
	}

	.featured-image {
		margin: -33px -33px 22px -33px;

		img {
			width: 100%;
			height: auto;
			border-radius: 4px 4px 0 0;
		}
	}

	.post-image {
		margin-bottom: 33px;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	.post-meta {
		display: block;
		width: 100%;
		padding: 22px 0;
    	border-top: rgba(0,0,0,0.05) 1px solid;
		margin-top: auto;

		img {
		    border-radius: 50%;
		    float: left;
		    margin: 0 15px 0 0;
		    width: 44px;
		    height: auto;
		}

		.post-meta-author {
		    padding: 0;
		}

		.post-meta-date {
			font-size: 0.8em;
			opacity: 0.8;
		}

		&.single-meta {
    		padding: 0 0 33px 0;
			margin-top: -22px;
			border: none;

			.post-meta-date {
				font-size: 1em;
				display: inline-block;
			}

			.post-meta-category {
				display: inline-block;
			}
    	}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		display: block;
		line-height: $global-title-line-height;
		font-family: $theme-primary-font-family;
	}

	h1 {
		font-size: $heading1-dark-font-size;
		font-weight: $heading1-dark-font-weight;
		font-style: $heading1-dark-font-style;
		text-transform: $heading1-dark-text-transform;
		color: $heading1-dark-color;
		margin: 0 0 22px 0;

		&.post-title {
			margin-bottom: 33px;
			-ms-word-wrap: break-word;
			word-wrap: break-word;
		}

		.light-text & {
			color: $heading1-light-color;
		}
	}

	h2 {
		font-size: $heading2-dark-font-size;
		font-weight: $heading2-dark-font-weight;
		font-style: $heading2-dark-font-style;
		text-transform: $heading2-dark-text-transform;
		color: $heading2-dark-color;
		padding: 0 0 22px 0;

		.light-text & {
			color: $heading2-light-color;
		}
	}

	h3 {
		font-size: $heading3-dark-font-size;
		font-weight: $heading3-dark-font-weight;
		font-style: $heading3-dark-font-style;
		text-transform: $heading3-dark-text-transform;
		color: $heading3-dark-color;
		margin: 0 0 22px 0;

		.light-text & {
			color: $heading3-light-color;
		}

		&.post-title {
			/* font-size: $body-dark-font-size * 1.4;
			margin-bottom: 22px; */

			a {
				color: inherit;
				@include transition_extend(.3s, ease-in-out);

				&:hover {
					color: #f56a16;
				}
			}
		}
	}

	@media (max-width:767px) {
		h2, h3 {
			font-size: 18px;
		}
	}


	h4 {
		font-size: $heading4-dark-font-size;
		font-weight: $heading4-dark-font-weight;
		font-style: $heading4-dark-font-style;
		text-transform: $heading4-dark-text-transform;
		color: $heading4-dark-color;
		margin: 0 0 22px 0;

		.light-text & {
			color: $heading4-light-color;
		}
	}

	h5 {
		font-size: $heading5-dark-font-size;
		font-weight: $heading5-dark-font-weight;
		font-style: $heading5-dark-font-style;
		text-transform: $heading5-dark-text-transform;
		color: $heading5-dark-color;
		margin: 0 0 22px 0;

		.light-text & {
			color: $heading5-light-color;
		}
	}

	h6 {
		font-size: $heading6-dark-font-size;
		font-weight: $heading6-dark-font-weight;
		font-style: $heading6-dark-font-style;
		text-transform: $heading6-dark-text-transform;
		color: $heading6-dark-color;
		margin: 0 0 22px 0;

		.light-text & {
			color: $heading6-light-color;
		}
	}

	p {
		margin-bottom: 22px;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.alignnone {
		max-width: 100%;
	}

	.alignleft {
		float: left;
		margin: 5px 22px 22px 0;
		display: inline-block;
		max-width: 100%;
	}

	.alignright {
		float: right;
		margin: 5px 0 22px 22px;
		display: inline-block;
		max-width: 100%;
	}

	.aligncenter {
		display: block;
		text-align: center;
		margin: 5px auto 22px auto;
		max-width: 100%;
	}

	.wp-caption-text {
		font-size: 0.8em;
		font-style: italic;
		padding-top: 11px;
	}

	ul,
	ol {
		margin-bottom: 22px;
	}

	ul ul,
	ul ol,
	ol:not(.comment-list) ol,
	ol:not(.comment-list) ul {
		margin-bottom: 0;
	}

	dl dd {
		margin-bottom: 5px;
	}

	blockquote {
		font-style: italic;
	}

	table {
		margin-bottom: 22px;
	}

	div:not(.woocommerce) table th,
	div:not(.woocommerce) table td {
		border: rgba(0,0,0,0.07) 1px solid !important;
		padding: 22px !important;
	}

	table th {
		background: rgba(0,0,0,0.03);
	}

	pre {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		padding: 22px;
	}

	embed,
	iframe {
		max-width: 100%;
		width:100%;
		box-shadow: 0 18px 18px rgba(10, 31, 68, 0.12), 0 0 1px rgba(10, 31, 68, 0.1);
		border:0;
	}

	.well {
		margin: 0 auto;
		background: #fff;
		border: none;
		box-shadow: 0 0 33px 5px rgba(0, 0, 0, 0.1);
		padding: 44px 88px 44px 88px;
		@include borderRadius($button-border-radius+px);
	}

	.list-group-item {
		border: none;
		background: transparent;
	}

	.post-tags {
		margin: 44px 0;

		.btn {
			margin: 0 11px 11px 0;
		}
	}

	.gallery {
		figure {
			display: inline-block;
			vertical-align: top;
			text-align: center;

			//default 3 columns
			width: 29%;
			margin: 11px 2%;

			.gallery-caption {
			    font-size: 0.9em;
			    padding: 11px 0;
			}
		}

		&.gallery-columns-1 figure {
			width: 100%;
			margin: 11px 0;
		}

		&.gallery-columns-2 figure {
			width: 46%;
			margin: 11px 2%;
		}

		&.gallery-columns-3 figure {
			width: 29%;
			margin: 11px 2%;
		}

		&.gallery-columns-4 figure {
			width: 21%;
			margin: 11px 2%;
		}

		&.gallery-columns-5 figure {
			width: 18%;
			margin: 11px 1%;
		}

		&.gallery-columns-6 figure {
			width: 14.6%;
			margin: 11px 1%;
		}

		&.gallery-columns-7 figure {
			width: 12.2%;
			margin: 11px 1%;
		}

		&.gallery-columns-8 figure {
			width: 10.5%;
			margin: 11px 1%;
		}

		&.gallery-columns-9 figure {
			width: 9.1%;
			margin: 11px 1%;
		}
	}

	.author_bio {
		padding: 44px;
		margin: 0 0 44px 0;
		display: flex;
		align-items: stretch;

		.author_avatar {
			width: 30%;
			display: inline-block;

			img {
				max-width: 100%;
				height: auto;
				margin-right: 22px;
				border-radius: 50%;
			}
		}

		.author_details {
			display: inline-block;
			width: 100%;
		}
	}

	span.editie {
		color: #0a1f44;
		font-size: 36px;
		font-weight: 700;
		line-height: 60px;
	}

	span.current,
	span.current a {
		color: #0a1f44;
		font-size: 60px;
		line-height: 60px;
		font-weight: 500;
		margin-right:30px;
	}

	a.editie{
		color: #a6aebc;
		font-size: 24px;
		line-height: 60px;
		font-weight: 500;
		margin:0 10px;
	}

	.tags {
		a {
			display:inline-block;
			font-size:12px;
			line-height:12px;
			padding:10px 16px;
			margin-right:10px;
			min-width:90px;
			text-align:center;
			color: #53627c;
			background-color: #f1f2f4;
			border-radius:16px;

			&:hover,
			&:focus {
				text-decoration:none;
				outline:0;
				background-color: #182c4f;
				color:white;
			}
		}
	}

	@media(max-width:991px){
		span.editie {
			font-size: 24px;
			font-weight: 700;
			line-height: 40px;
		}

		span.current{
			font-size: 40px;
			line-height: 40px;
			margin-right:10px;
		}

		a.editie{
			font-size: 16px;
			line-height: 40px;
			margin:0 5px;
		}
	}
}

::-webkit-input-placeholder {
	color: $title-dark-color;

	.light-text & {
		color: $title-light-color;
	}
}
:-moz-placeholder {
	color: $title-dark-color;

	.light-text & {
		color: $title-light-color;
	}
}
::-moz-placeholder {
	color: $title-dark-color;

	.light-text & {
		color: $title-light-color;
	}
}
:-ms-input-placeholder {
	color: $title-dark-color;

	.light-text & {
		color: $title-light-color;
	}
}


.page-template-page-event {
	section {
		h2,
		.subtitle {
			color: #53627c;
			font-size: 26px;
			font-weight: 500;
			margin:0 0 30px 0;
			padding:0;
		}
		&.light-text {
			h2,
			.subtitle {
				color:white;
			}
		}
		@media(max-width:767px){
			h2,
			.subtitle,
			.event-subtitle {
				text-align:center;
				font-size:18px;
				font-weight:700;
				margin:0 0 20px 0;
			}
		}
	}

}





@media (max-width:767px) {
	.post-content {
		line-height:28px;

		p {
			line-height:28px;
		}

		.well {
			padding: 33px;
		}

		.gallery {
			&.gallery-columns-1 figure,
			&.gallery-columns-2 figure,
			&.gallery-columns-3 figure,
			&.gallery-columns-4 figure,
			&.gallery-columns-5 figure,
			&.gallery-columns-6 figure,
			&.gallery-columns-7 figure,
			&.gallery-columns-8 figure,
			&.gallery-columns-9 figure {
				width: 46%;
				margin: 11px 2%;
			}
		}

	}
}

section.error404 {
	padding:60px 0;
}

@media(min-width:1199px){
	section.error404 {
		min-height:600px;
	}
}
