section.event {
	padding:60px 0 60px 0;

	h3 {
		color: #0a1f44;
		font-size:20px;
		font-weight:400;
		margin:0 0 30px 0;
	}

	.js-tabs {
		.navbar-tabs {

			.navbar-toggle {
				float:none;
				background:#f1f2f4;
				font-size:12px;
				line-height:12px;
				padding:10px 16px 10px 24px;
				margin:0 auto;
				min-width:90px;
				text-align:center;
				color: #53627c;
				width:100%;

				i,
				svg {
					float:right;
				}

				&.collapsed {

				}
			}

			.navbar-collapse {
				padding:0;

				ul.tabs{
					list-style:none;
					padding:0 0 25px 0;
					margin:0;
					overflow:hidden;
					border-bottom:2px solid #f1f2f4;

					li{
						float:left;
						margin:0 10px 0 0;

						a {
							display:block;
							font-size:12px;
							line-height:12px;
							padding:10px 16px;
							min-width:90px;
							text-align:center;
							color: #53627c;
							background-color: #f1f2f4;
							border-radius:16px;

							&:hover,
							&:focus {
								text-decoration:none;
								outline:0;
							}
						}

						&:hover a,
						&.ui-state-active a {
							background-color: #182c4f;
							color:white;
						}

						&:focus {
							outline:0;
						}
					}
				}
				@media(max-width:767px){
					ul.tabs {
						border:0;
						padding:0;
						li {
							float:none;
							margin:0;

							a {
								border-radius:0;
							}
						}
					}
				}
			}
		}
		@media(max-width:767px){
			.navbar-tabs {
				border-radius:16px;
				max-width:200px;
				margin:0 auto 30px auto;
				overflow:hidden;
			}
		}

		.tab {

			.js-accordion {
				.accordion-header {
					display:block;
					color: #0a1f44;
					font-size: 16px;
					line-height: 28px;
					font-weight:400;
					padding:14px 32px 14px 0;
					margin:0;
					background-image:url('../images/accordion-down.png');
					background-position: right 25px;
					background-repeat:no-repeat;
					cursor:pointer;

					&.ui-state-active {
						background-image:url('../images/accordion-up.png');
					}

					&:focus {
							outline:0;
					}

					.tijd {
						font-size:12px;
						color:#53627c;
						margin-left:10px;
					}

					.locatie {
						display:inline-block;
						background-color: #182c4f;
						color:white;
						font-size:12px;
						line-height:24px;
						padding:0px 6px;
						margin:2px 0;
						float:right;
						border-radius:2px;
					}

					@media (max-width:767px){
						.locatie {
							float:none;
							clear:left;
							margin:5px 0 0 0;
						}
					}
				}
			}
		}
	}

	@media(max-width:767px){
		h3 {
			text-align:center;
		}

		p {
			font-size:12px;
		}

	}
}
