.grid-item {

	.grid-item-container {
		display:block;
		position:relative;
		border-radius:4px;
		overflow:hidden;
		background:white;
		margin:0 0px 30px 0px;
		box-shadow: 0 18px 18px rgba(10, 31, 68, 0.12), 0 0 1px rgba(10, 31, 68, 0.1);
		transition: all 1s ease-out;

		&:hover {
			text-decoration:none;
			transition: all 1s  ease-out;
			box-shadow: 0 18px 18px rgba(10, 31, 68, 0.24), 0 0 1px rgba(10, 31, 68, 0.1);
		}

		.grid-item-content {
			width: 100%;
			position: relative;
			color: #8a94a6;
			@include transition_ext(0.2s);

			.image {
				width:100%;
				padding-top:65%;
				background-size:cover;
				background-position:center center;
				background-repeat: no-repeat;
				background-color: #f2f4f7;
			}

			.content {
				padding:15px;
				height:176px;

				h3 {
					font-family: $theme-secondary-font-family;
					color: #0a1f44;
					font-size: 14px;
					font-weight: 500;
					line-height: 20px;
					max-height:40px;
					margin:0;
					padding:0;
					overflow:hidden;
				}

				.date {
					font-size:12px;
					line-height:24px;
					height:24px;
				}

				p {
					font-size:14px;
					line-height:24px;
					height:72px;
					color: #8a94a6;
					overflow:hidden;
				}

			}
		}
	}

	&.grid-item-omroep{
		.grid-item-container {
			box-shadow:none;
			width:100%;
			padding:15px;
			margin:0 0 15px 0;

			.grid-item-content {
				width:100%;
				height:100px;
				background-position:center;
				background-repeat:no-repeat;
				background-size:contain;
			}
		}
	}
	@media(max-width:991px){
		&.grid-item-omroep{
			width:33.33333%;

			.grid-item-container {

				.grid-item-content {
					height:75px;
				}
			}
		}
	}
	@media(max-width:767px){
		&.grid-item-omroep{

			.grid-item-container {

				.grid-item-content {
					height:50px;
				}
			}
		}
	}

}

@media (max-width:767px){
	section.grid,
	section.post-related {
		.grid-item-container {
			box-shadow: none;
			margin:0 0 20px 0;
			background:transparent;

			.grid-item-content {

				.image {
					width:33.33333%;
					padding-top:21.45%;
					float:left;
				}
				.content {
					width:66.6666%;
					height:auto;
					float:left;
					padding-top:0;
					padding-right:0;
					padding-bottom:0;

					h3 {
						height:auto;
					}

					p {
						height:auto;
					}
				}
			}
		}
	}
	section.slider {
		.grid-item-container {
			box-shadow: none;
			margin:0 0 20px 0;
			background:transparent;

			.grid-item-content {
				.content {
					padding-left:0;
					padding-right:0;
					padding-bottom:0;

					h3 {
						height:auto;
					}

					p {
						height:auto;
					}
				}
			}
		}
	}
}
