section.fixed-grid {
	@extend .body;
	padding:50px 0;

	.read-more {
		text-align:center;
	}

	@media(min-width:992px) {
		.col-centered {
			margin:0 auto;
			float:none;
			overflow:hidden;
		}
	}
}

#section-index-page,
section#section-index-post {
	background-color: #e9ebee;
}

@media (max-width:767px){
	section.fixed-grid {
		background:white !important;
		padding:20px 0;
	}
}
