section.image-grid {
	@extend .body;

	.grid-parent {

		&.boxed {
			padding-left: 30px;
			padding-right: 30px;
		}

		&:not(.boxed) {
			width: 100%;
		}

		.grid-item {
			position: relative;
			overflow: hidden;

			&:before {
				content: '';
				margin-top: 100%;
				display: inline-block;
				width: 100%;
			}

			img{
				width: 100%;
			}

			.grid-item-container {
				position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    padding: 10%;
			    text-align: center;
			    color: inherit;
			    background-clip: border-box;
	    		background-origin: padding-box;
	    		background-size: cover;
	    		background-position: 50% 50%;
	    		background-repeat: no-repeat;
			    @include transition_ext(0.3s);
			    /* @include borderRadius(0px);
			    @include boxShadow_ext(0, 0, 0px, 0, 0, 0, 0); */

			    h3 {
					font-size: $heading3-dark-font-size;
					font-weight: $heading3-dark-font-weight;
					font-style: $heading3-dark-font-style;
					text-transform: $heading3-dark-text-transform;
					color: $heading3-dark-color;
					line-height: $global-title-line-height;
					font-family: $theme-primary-font-family;
			    }

			    .post-meta {
			    	font-size: 0.8em;

			    	img {
			    		display: none;
			    	}

			    	.post-meta-author {
			    		display: inline-block;

			    		&:after {
			    			content: '-';
			    			padding: 0 5px;
			    		}
			    	}

			    	.post-meta-date {
						display: inline-block;
			    	}
			    }

		    	.grid-content-overlay {
	    			content: '';
	    			position: absolute;
	    			width: 100%;
	    			height: 100%;
	    			top: 0;
	    			left: 0;
	    			opacity: 0;
	    			@include transition_ext(0.3s);
	    			z-index: 1;
				}

			    .grid-item-content {
			    	width: 100%;
			    	text-align: center;
			    	position: relative;
			    	margin-top: 45%;
			    	-webkit-transform: translateY(-50%) scale(0.9,0.9);
			    	-ms-transform: translateY(-50%) scale(0.9,0.9);
			    	transform: translateY(-50%) scale(0.9,0.9);
			    	opacity: 0;
			    	z-index: 2;
			    	@include transition_ext(0.2s);
			    	transition-delay: 0s;

				    h3 {
				    	margin: 0;
				    	padding: 0 0 22px 0;
				    }

				    .btn {
				    	/* border-radius: 50%;
				    	height: 44px;
				    	width: auto;
				    	line-height: 44px;
				    	padding: 0;
				    	text-align: center; */
				    }

				    .post-meta {
				    	margin: 0 0 22px 0;
				    }
			    }

	    		.detail-info {
	    			ul.person-detail-list {
	    				list-style: none;
	    				font-size: 0.8em;
	    				padding: 0;
	    				margin: 0;

	    				li {
	    					list-style: none;

	    					&.meta-position {
	    						margin: 0 0 5px 0;
	    						font-weight: 700;
	    					}

	    					&.meta-department {
	    						margin: 0 0 5px 0;
	    					}

	    					&.meta-email,
	    					&.meta-phonenummer,
	    					&.meta-twitter,
	    					&.meta-facebook,
	    					&.meta-linkedin {
	    						display: inline-block;
	    						margin: 0 5px;
	    					}

	    					a {
	    						color: inherit;
	    					}
	    				}
	    			}
	    		}

				.read-more {
					text-transform: uppercase;
		    		font-size: 0.9em;
		    		margin-bottom: 22px;
		    		display: block;
				}

			    &:hover {
			    	text-decoration: none;

			    	&.has-hover {
			    		transform: scale(1.02, 1.02);

			    		.grid-content-overlay {
			    			width: 90%;
			    			height: 90%;
			    			top: 5%;
			    			left: 5%;
			    			opacity: 1;
						}

						.grid-item-content {
							-webkit-transform: translateY(-50%) scale(1,1);
					    	-ms-transform: translateY(-50%) scale(1,1);
					    	transform: translateY(-50%) scale(1,1);
					    	opacity: 1;
				    		@include transition_ext(0.3s);
						}
			    	}
			    }

	    		&.slide-bottom {
	    			.grid-item-content {
	    				margin-top: 0;
	    				-webkit-transform: translateY(0) scale(1,1);
	    		    	-ms-transform: translateY(0) scale(1,1);
	    		    	transform: translateY(0) scale(1,1);
	    		    	position: absolute;
	    		    	bottom: -5%;
	    		    	left: 0;
	    		    	padding: 10%;
	    		    	text-align: left;
	    			}

	    			&:hover {
	    				&.has-hover {
				    		transform: scale(1, 1);

			    			.grid-content-overlay {
			        			width: 100%;
			        			height: 100%;
			        			top: 0;
			        			left: 0;
			        			opacity: 1;
			    			}

		    				.grid-item-content {
		    					bottom: 0;
		    					-webkit-transform: translateY(0) scale(1,1);
		    			    	-ms-transform: translateY(0) scale(1,1);
		    			    	transform: translateY(0) scale(1,1);
		    			    	transition-delay: 0.2s;
		    				}
			    		}
		    		}
	    		}
			}

			&.grid-columns-6 {
				.grid-item-container {
					padding: 22px;

					h3 {
						@if ($heading3-dark-font-size > 16) {				    
							font-size: 16px !important;
					   	} @else {
					        font-size: $heading3-dark-font-size;
					    }
					}
				}
			}

		}

		.grid-content-popup {
			background: #fff;
			position: fixed;
			top: 35%;
			left: 25%;
			right: 25%;
			padding: 44px;
			text-align: center;
			font-size: 1em;
			visibility: hidden;
			opacity: 0;
			z-index: 99;

			@include borderRadius(6px);
			@include transition_ext(0.2s);
			@include boxShadow_ext(0, 0, 0, 0, 0, 0, 0);

			&.active {
				visibility: visible;
				opacity: 1;
				top: 30%;
				@include boxShadow_ext(0, 0, 33px, 0, 0, 0, 0.15);
			}

			.glyphicon {
				@extend .body;

				.light-text & {
				  @extend .body-light;
				}

				position: absolute;
				top: 22px;
				right: 22px;
				text-decoration: none;
				font-family: 'Glyphicons Halflings';
				@include transition_ext(0.2s);

				&:hover {
					color: $theme-primary-color-color;
				}
			}
		}
	}

	&.light-text {
		@extend .body-light;

		h3 {
			color: $heading3-light-color !important;
		}
	}
}