.breadcrumb {
  background: none;
  padding:0;
  margin:0 0 15px 0;
  font-size:12px;

  a {
    color: inherit;
  }
}

.page-header {
  margin: 0;
  padding:0;
  border: 0;

  box-sizing: border-box;
  background-image: url('../images/bg-transparent.png'), linear-gradient(270deg, #ff9800 0%, #f54b16 100%);
  background-position: top center;
  background-size: cover;
  z-index: 2;

  > .container {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .page-title {
    padding: 0;
    margin: 0;
    animation: 0.8s ease-out 0s 1 slideInFromBottom2;
    font-size: 26px;
    font-weight:500;
    text-transform:none;
    margin:20px 0 5px;
  }

  .page-subtitle {
    padding: 0;
    margin-bottom: 1em;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    animation: 0.6s ease-out 0s 1 slideInFromBottom;

    &.no-margin {
      margin-bottom: 0;
    }

    a {
      color: inherit !important;
    }
  }

  @keyframes slideInFromBottom {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    50% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slideInFromBottom2 {
    0% {
      transform: translateY(40px);
      opacity: 0;
    }
    50% {
      transform: translateY(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .breadcrumb {
    color:white;

    a {
      color: inherit;
    }
  }

  .header-content {
    color:white;
    text-align:right;
    padding:41px 0 31px;
  }

  @media (max-width:767px) {
    .header-content {
      text-align:left;
      padding:20px 0 0 0;

      p {
        line-height:28px;
      }
    }
  }

}

.page-header-post {
  background:#f8f9fb;

  .breadcrumbs {
    padding:35px 0 0 0;

    .breadcrumb {
      margin:0;
    }
  }
}

.page-header-event {

  background-image: none;

  &::before {
    content:'';
    top:0;
    left:0;
    bottom:0;
    right:0;
    position:absolute;
    z-index:-1;
    opacity:0.7;
    background-size:cover;
  }
  .page-header-event-bg {
    width:100%;
    height:100%;
  }
  .row-eq-height{
    align-items:center;

    .header-title {
      padding:150px 0;

      h1 {
        font-size:122px;
        line-height:98px;
        text-transform:uppercase;
        font-weight:900;
        margin:0;
        padding:0;
      }
    }

    .header-content {
      text-align:left;
      padding:150px 0;

      p {
        font-size:20px;
        line-height:28px;
      }
    }
  }
  @media (max-width:991px){
    .row-eq-height{
      .header-title {
        padding:100px 0;

        h1 {
          font-size:98px;
          line-height:78px;
        }
      }

      .header-content {
        p {
          font-size:18px;
          line-height:24px;
        }
      }
    }
  }


  @media (max-width:767px){
    .row-eq-height{
      display:block;

      .header-title {
        padding:20px 0;
        text-align:center;

        h1 {
          font-size:78px;
          line-height:60px;
        }
      }

      .header-content {
        text-align:center;
        padding:20px 0;

        p {
          font-size:14px;
          line-height:24px;
        }
      }
    }
  }

}

section.event-menu {
  background-color: #f2f2f2;
  padding:40px 0;
  z-index:8;
  width:100%;

  @media (min-width:768px) {
    .anchor-links-wrapper.collapse{
    	display: block;
    }

    .anchor-chevron {
      display:none;
    }
  }

  .submenu-mobile {
    text-align:center;

    > a {
      font-weight:600;
      color: #53627c;
      font-size:16px;
      text-decoration: none;
      cursor:pointer;

      span,
      i,
      svg {
        display:none !important;
      }

      &.collapsed {
        span,
        i,
        svg {
          display:inline-block !important;
        }
      }
    }
  }

  a.anchor-chevron {
    i,
    svg {
      font-size:18px;
      margin:0 0 0 10px;
    }
  }


  ul.menu {
    margin:0;
    padding:0;
    list-style:none;

    li {
      float:left;
      margin:0 20px 0 0;
      padding:0;

      a {
        font-weight:600;
        color: #53627c;
      }
    }
  }

  &.affix {
    top:100px;
    padding:20px 0;
  }

  @media(max-width:767px){
    &.affix {
      top:60px;
    }

    ul.menu {
      li {
        float:none;
        text-align:center;

        a {
          font-size:16px;
          text-decoration: none;
        }

        &:first-child{
          padding-left:20px;
        }
      }
    }
  }
}
