section.list {
	@extend .body;

	padding-top: 44px;

	.list-parent {

		&.boxed {
			padding-left: 30px;
			padding-right: 30px;
		}

		.list-item {
			position: relative;
			width: 100%;

			article {
				display: flex;
    		align-items: stretch;
				margin: 0 0 30px 0;
				border-radius:4px;
				padding: 0;
				@include transition_ext(0.3s);
				background-color: $index-background-color-rgba;
				overflow: hidden;

				&:hover {
					@include boxShadow_ext(0, 0, 33px, 0, 0, 0, 0.15);
				}

				.featured-image {
					width: 40%;
					background-position: center;
  					background-size: cover;
				}

				@media (max-width:767px) {
					.featured-image {
						display: none;
					}
				}

				.post-content {
					display: inline-block;
					padding: 20px 20px 0 20px;

					h3 {
						font-size:18px;
						margin:0 0 15px 0;
					}

					.meta {
						font-size: 12px;
				    line-height: 24px;
				    height: 24px;
						margin:0 0 5px 0;
					}

					.btn {
						padding:10px 16px;
						margin-bottom: 15px;
					}

					.detail-info {
						padding-bottom: 15px;

					}
				}
			}
		}
	}

	&.light-text {
		@extend .body-light;
	}
}
