section.page-content {

	.page-content-container {
		position:relative;

		.post-content {
			background:#fff;
			border-radius: 4px;
			padding:40px 40px;
		}

		@media (max-width:991px){
			.post-content {
				background:none;
				box-shadow: none;
				border-radius: 0;
				padding:0;
				margin:0;

				.image img {
					margin:0 0 20px 0;
				}
			}
		}

		@media (min-width:992px){
			&.top-margin .post-content {
				margin:150px 0 0 0;
			}
		}
	}
}

section.page-content-post {
	background:#f8f9fb;

	.post-content {
		.header-title {
			margin:0 0 20px 0;
			.title {
				font-size:26px;
				margin:0 0 5px 0;
			}
			.page-subtitle {
				color: #53627c;
				line-height: 22px;
				font-size: 18px;
				margin:0 0 15px 0;
			}
			@media(max-width:767px){
				.title {
					font-size:20px;
				}
				.page-subtitle {
					line-height: 18px;
					font-size: 16px;
				}
			}
		}
	}
}

section.post-related {
	background:#f8f9fb;
	padding-top:0;

	h2 {
		margin:0 0 40px 0;
		text-align:center;
	}
}
