@keyframes moveUp {
  0% {
    transform: translateY(100%);
  }
  100% {
		transform: translateY(0);
  }
}
@keyframes moveLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveOut1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10%);
  }
}


@keyframes moveOut2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10%);
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
		opacity:1;
  }
}

section.slider-home {

	background-color: #FF9800;
	background-image: radial-gradient(circle, #FF9800 0%, #F54B16 100%);
	/*background-image: url('../images/bg-transparent.png'), radial-gradient(circle, #FF9800 0%, #F54B16 100%);*/
	background-size:cover;
	padding: $logo-height+$logo-top+$logo-bottom+22+px 0 0 0;

  .slider-nav {
    display:none;
  }

	.container{
	  position: relative;
	}

	article {
		animation: 2s ease-out fadeIn;
		margin: 0;
		display: flex;
		width: 100%;
		background-color: inherit;
		align-items: center;
		justify-content: center;

		.card-content {
			padding: 30px 0;
		}

		.col-left {
			width: 56%;

			.slider-title{
				font-size:50px;
				line-height:1;
				font-weight:900;
				color:white;
				margin:0 0 30px 0;
			}

			@media(max-width:991px) {
				.slider-title{
					font-size:40px;
				}
			}

			.inslide-btn {
				text-align: center;
				width: 48px;
				height: 48px;
        padding:12px 0;
				margin:0 15px 0 0;
				color: white;
				border: 1px solid white;
				border-radius:50%;
				@include transition_ext(0.3s);
				display:inline-block;
				cursor:pointer;
        background:url(../images/arrow-left.png) center center no-repeat;
        background-size:15px;

				.glyphicon {
					top: 0;
					line-height: 46px;
				}

        &.next {
          background:url(../images/arrow-right.png) center center no-repeat;
          background-size:15px;
        }

				&:hover {
					color:black;
					border-color:black;
          background:url(../images/arrow-left-black.png) center center no-repeat;
          background-size:15px;

          &.next {
            background:url(../images/arrow-right-black.png) center center no-repeat;
            background-size:15px;
          }
				}
			}
		}
		.col-right {
			width: 44%;
			border-radius:50%;
			margin:50px 0 100px;
		}
	}



	@media (max-width:767px) {
		article {
			display:block;

			.col-left,
			.col-right {
				width: 100%;
			}
			.col-right {
				display:none;
			}
			.col-left {
				text-align:center;

				.card-image {
					border-radius:50%;
					margin-bottom:-50px;
					z-index:-1;
				}
				.slider-title{
					font-size:24px;
					line-height:30px;
					margin:0 0 15px 0;
				}
			}
		}
	}

	.showcase-image {
		height: 100%;
		width: 100%;
		display: inline-block;
		position: relative;
		background-clip: border-box;
	    background-origin: padding-box;
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: cover;

	    &:before {
	    	content: '';
		    margin-top: 100%;
		    display: inline-block;
		    width: 100%;
	    }
	}

	svg {
		position: absolute;
    top: 0;
    left: 0;
		opacity:1;

		circle {
			position:relative;
			opacity:0.1;

			&.circle-bottom {
				animation: 2s ease-out moveUp;
				transition: 2s all;
			}
			&.circle-right {
				animation: 2s ease-out moveLeft;
				transition: 2s all;
			}
		}
	}

/*
	&:hover {
		svg {
			circle {
				&.circle-bottom {
					transition: 1s all;
					cy: 140%;
				}
				&.circle-right {
					transition: 1s all;
					cx: 110%;
				}
			}
		}
	}
	*/
}


@media(max-width:767px){
		section.slider-home {
			padding-top:61px;
		}
}



section.slider {

	article {
	    margin: 0;
	    padding: 0;

	    .post-content {
	    	@include transition_ext(0.3s);

	    	h3 {
	    		margin: 0;
	    	}

	    	.card-text {
	    		@extend .body;
	    	}

	    	.post-meta {
	    		display: block;
			    width: 200px;
			    padding: 22px 0 0 0;
			    margin: 0 auto;
			    border: none;
			    text-align: left;
	    	}
	    }

	    &:hover {
	    	.post-content {
	    		bottom: 0;
	    		opacity: 1;
	    	}
	    }

	    @media (max-width:767px) {
	    	.post-content {
	    		bottom: 0;
	    		opacity: 1;
	    	}
	    }

	}

	&.index {

		.subtitle {
			margin-bottom:55px;
		}
		.swiper-content {
			position:relative;
		}

		.swiper-container {
			margin:0 -15px;

			.swiper-slide {

				.grid-item {
					padding:0 15px;
				}
			}
		}

		@media(max-width: 767px) {
			.subtitle,
			.grid-item {
				text-align:center;
			}
		}

		&.image {

			.slider-arrows {
				top:0;
				display:none;
				padding:0;

				.swiper-button-prev,
				.swiper-button-next {
					top:0;
					background-color: #f56a16;
					color:white;
					border:0px;
				}
			}

			@media(max-width:991px) {
				.slider-arrows {
					display:block;
				}
			}
			.grid-item-container {
				box-shadow:none;
				width:100%;

				.grid-item-content {
					width:100%;
					height:48px;
					background-position:center;
					background-repeat:no-repeat;
					background-size:contain;
				}
			}
		}

	}

	.slider-arrows {
		position: absolute;
		display: inline-block;
		top: 40%;
		left: -0px;
		width: 100%;
		padding: 20px 0;

		.swiper-button-prev,
		.swiper-button-next {
				left: auto;
				right: auto;
				position: relative;
				display: inline-block;
				text-align: center;
				width: 48px;
				height: 48px;
				color: #c9ced6;
				border: 1px solid black;
				border-radius:50%;
        opacity:0.1;
				@include transition_ext(0.3s);


				.glyphicon {
					top: 0;
					line-height: 48px;
				}

				&:hover {
          opacity:1;
				}
		}

		.swiper-button-prev {
			float: left;
			margin-left:-100px;
      background:url(../images/arrow-left-black.png) center center no-repeat;
      background-size:15px;
		}

		.swiper-button-next {
			float: right;
			margin-right:-100px;
      background:url(../images/arrow-right-black.png) center center no-repeat;
      background-size:15px;
		}

		@media (max-width:1400px){
			.swiper-button-prev {
				margin-left:-60px;
			}

			.swiper-button-next {
				margin-right:-60px;
			}
		}
	}
	@media (max-width:1300px){
		.slider-arrows {
			top:15%;
			.swiper-button-prev {
				background-color:#f56a16;
				color:white;
				border-color:#f56a16;
				margin-left:15px;

				&:hover {
					opacity:0.8;
					color:white;
					border-color:#f56a16;
				}
			}

			.swiper-button-next {
				background-color:#f56a16;
				color:white;
				border-color:#f56a16;
				margin-right:15px;

				&:hover {
					opacity:0.8;
					color:white;
					border-color:#f56a16;
				}
			}
		}
	}
	@media (max-width:767px){
		.slider-arrows {
			top:25%;
		}
	}
}
