.sortable:hover {
	cursor: move;
}
.rm_wrap{
	width:740px;
	margin: 0 0 20px 0;
}
.rm_section{
	border:1px solid #ddd;
	border-bottom:0;
	background:#f9f9f9;
}
#theme-menu {
	display: inline-block;
	width: 100%;
	height: 33px;
	margin: 0;
	position: relative;
	z-index: 1;
}
#theme-menu .menu-item {
	display: inline-block;
	padding: 10px 20px;
	margin: 0 5px 0 0;
	background:#fff;
	border-top: #ddd 1px solid;
	border-left: #ddd 1px solid;
	border-right: #ddd 1px solid;
	font-weight: bold;
	cursor: pointer;
	float: left;
	text-decoration: none;
	color: #444;
}
#theme-menu .current-item, #theme-menu .menu-item:hover {
	background:#eee;
}
.rm_section {
	display: none;
}
.rm_opts {
	position: relative;
	z-index: 2;
}
.rm_opts label {
	font-size:12px;
	font-weight:700;
	width:200px;
	display:block;
	float:left;
	padding-right: 11px;
	box-sizing: border-box;
}
.rm_input {
	padding:30px 10px;
	border-bottom:1px solid #ddd;
	border-top:1px solid #fff;
}
.rm_opts small{
	display:block;
	float:right;
	width:220px;
	color:#999;
	word-wrap:break-word;
}
.rm_opts input[type="text"],
.rm_opts select{
	width:280px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1em;
	background:#f3f3f3;
}
.rm_input input:focus,
.rm_input textarea:focus{
	background:#fff;
}
/*
.rm_color input[type="text"] {
	width: 240px;
}

.colorexample {
	display: block;
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 13px;
	border: #ddd 1px solid;
}*/
.rm_input textarea{
	width:280px;
	height:150px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1.5em;
	background:#f3f3f3;
}
.rm_title{
	border-bottom:1px solid #ddd;
	background:#eee;
	padding:0;
	height: auto;
	width: 100%;
	display: table;
	vertical-align: middle;
}
.rm_title h3 {
	font-size:1em;
	line-height: 2em;
	text-transform: uppercase;
	margin:0;
	font-weight:bold;
	color:#232323;
	float:left;
	width:70%;
	padding:14px 0 14px 10px;
}
.rm_title .submit{
	display:block;
	float:right;
	margin:0;
	padding:0;
	width:25%;
	text-align: right;
	padding:14px 10px 14px 0;
}
.clearfix{
	clear:both;
}
.rm_table th, .rm_table td{
	border:1px solid #bbb;
	padding:10px;
	text-align:center;
}
.rm_table th, .rm_table td.feature{
	border-color:#888;
}

.field-header {
    padding: 6px 0px;
    height: 40px;
    display: block;
	}
.field-header label{
	float:left;
	padding:0 !important;
	padding-top: 10px !important;
}
.field-header a{
	float:right;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.sort-section-list li.placeholder {
  position: relative;
	border: #999 1px dashed;
}
/*
ol.sort-section-list li.placeholder:before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	margin-top: -8px;
	left: -8px;
	top: -8px;
	border: 8px solid transparent;
	border-left-color: #0073aa;
	border-right: none;

}
*/


.drag-pos{
	position:relative;
}
/* .icon-drag{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
}
.icon-drag::after{
	  margin-left: -29px;
		content: "\f229";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    color: #B4B4B4;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media(max-width: 680px) {
	.icon-drag::after{
		content: "\f156";
		margin-left: 0px;
		margin-top: -9px;
	}
}
*/
.sortable-list {
	  overflow: auto;
    overflow-y: auto;
		overflow-x: hidden;
    width: 100%;
    height: 367px;
    border: 1px solid #DFDFDF;
    display: inline-block;
    padding: 0px;
		margin: 0;
}
.sortable-list li {
    background: #e8e8e8;
    border: #d8d8d8 1px solid;
    width: auto;
    margin: 5px;
		padding: 8px 0px 8px 22px;
		/* position:relative; remove creates bug in nested sort */
	  list-style-type: none;
}

.sortable-list  li:hover,
.sortable-list  li:active {
    border: #999 1px solid;
}
.sortable-list li a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
		width: auto;
    display: block;
}
li.sortable-content{
		background: #0073aa;
    border-color: #0073aa;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
    color: #fff;
    text-decoration: none;
}

.sortable-list li input[type="checkbox"]{
	width: 20px;
	margin: 0 10px 5px 0;
	display: inline-block;
	height: 20px;
	float: right;
}
.sortable-list input[type=checkbox]:checked:before {
		margin: -2px 0 0px -3px;
    font-size: 20px;
}

#sectionsPage input[type=checkbox]:checked:before {
		font-size: 23px;
}

.sortable-list li.attachment{
	background-color: #fff;

}
.sortable-list li.attachment input[type="checkbox"]{
	position: absolute;
	z-index: 10;
	top: 4px;
	right: -6px;
	outline: 0;
	background: #eee;
	-webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(0,0,0,.15);
	box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(0,0,0,.15);
}


.sortable-list > div {
    background: #e8e8e8;
    border: #d8d8d8 1px solid;
    width: auto;
    margin: 5px;
    padding: 8px 41px 8px 20px;
	position:relative;
}
.sortable-list > div:hover,
.sortable-list > div:active {
    border: #999 1px solid;
}
.sortable-list > div > a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
}

.sortable-single input[type="checkbox"] {
    width: auto;
    margin: 0 10px 5px 0;
    display: inline-block;
}


body.dragging, body.dragging *{
	cursor: move !important;
}

.dragged {
	position: absolute !important;
	opacity: 0.7;
	z-index: 2000;
  margin-left: -50%;
}

ol.sort-section-list li.placeholder {
	position: relative;
	/** More li styles **/
}
ol.sort-section-list li.placeholder:before {
	position: absolute;
	/** Define arrowhead **/
}



.sortable-content.off {
    background: rgba(0, 115, 170, 0.25);
    border-color: rgba(0, 115, 170, 0.25);
	text-shadow: 0px 0px 2px #999;
}


.icon-plain-content:before{
	content: "\f123";
}
.icon-portfolio:before{
	content: "\f161";
}
.icon-grid:before{
	content: "\f509";
}
.icon-widget-area:before{
	content: "\f480";
}
.icon-content:before{
	content: "\f123";
	color: #FFF;
}
.icon-services:before{
	content: "\f232";
	color: #FFF;
}
.icon-slider:before{
	content: "\f233";
	color: #FFF;
}
.icon-locations:before{
	content: "\f231";
	color: #FFF;
}
.add-sections a{
	position: relative;
	padding-right: 25px !important;
}

.add-sections a:before{
	display: inline-block;
	font-size: 16px;
	font-family: dashicons;
	text-decoration: inherit;
	font-weight: 400;
	font-style: normal;
	color: rgba(180, 180, 180, 0.69);
	-webkit-transition: color .1s ease-in 0;
	transition: color .1s ease-in 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	right: 5px;
	top: 5px;
	padding-left: 5px;
	line-height: 1em;
}
.sortable-list li:before{
	display: inline-block;
	float: right;
	width: 30px;
	height: 30px;
	font-size: 23px;
	line-height: 1;
	font-family: dashicons;
	text-decoration: inherit;
	font-weight: 400;
	font-style: normal;
	vertical-align: top;
	text-align: center;
	color: rgba(180, 180, 180, 0.69);
	-webkit-transition: color .1s ease-in 0;
	transition: color .1s ease-in 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-top: 0px;
	margin-right: 10px;
}
.sortable-list li:hover span.section_name:before{
			display: inline-block;
	    float: left;
	    margin: 1px 5px 1px -20px;
	    width: 8px;
	    height: 11px;
	    position: relative;
	    font-size: 20px;
	    line-height: 1;
	    font-family: dashicons;
	    text-decoration: inherit;
	    font-weight: 400;
	    font-style: normal;
	    vertical-align: top;
	    text-align: center;
	    color: rgba(180, 180, 180, 0.69);
	    -webkit-transition: color .1s ease-in 0;
	    transition: color .1s ease-in 0;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    left: 5px;
	    top: 0px;
	    content: ' ';
	    background-position: center;
	    background-image: url(../images/drag.svg);
	    background-size: 8px;
	    background-repeat: no-repeat;
	    opacity: 0.2;
}

li a.remove-section{
	display: none;
	float: right;
	margin: -15px -6px 0px;
	font-size: 20px;
	text-decoration: none;
	width: 20px !important;
	content: "\f335";
}

ol#sectionsPage{
	resize: vertical;
}
ol#sectionsPage li:hover a.remove-section{
	display: inline-block !important;
}

#gal-meta_parent .mceIframeContainer {
	border: #E1E1E1 1px solid;
}
.rffw_option_header{
	display: block;
	border-bottom: 2px solid #e1e8ee;
}
	.rffw_option_title{
		display: block;
		color: #43484D;
		font-size: 32px;
		font-weight: normal !important;
    padding: 22px 0;
	}
	.rffw_option_subtitle{
		display: block;
		color: #5E6977;
		font-size: 12px;
		font-weight: normal !important;
    padding: 0px 0 10px;
	}



.form-field label {
	padding: 0 0 5px 0;
	font-size: 16px;
	color: #5E6977;

  overflow: hidden;
  white-space: nowrap;
	text-overflow: ellipsis;
}
.form-field label b{
	font-weight: 400 !important;
}
.checkbox-container {
	display: inline-block;
	background: #e8e8e8;
	padding: 11px;
	border: #d8d8d8 1px solid;
	width: auto;
}
.checkbox-container label {
	display: inline;
	margin: 0 0 0 11px;
}
#my-custom-fields{
  margin-top: 20px;
}


#my-custom-fields .inside p {
	margin-left: 0px;
}
.form-field p.description {
	padding: 0.5em 0 0 0;
}
.form-field input.cp_colorpicker {
	width: 90%;
}
.ui-slider {
	display: inline-block;
	width: 220px;
	height: 10px;
	color: #333;
	border: #ddd 1px solid;
	position: relative;
	margin: 7px 0 0 0;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	height: 16px;
	width: 16px;
	margin: -4px 0 0 -8px;
	background: #eee;
	border: #ccc 1px solid;
}
.slidervalue {
	display: block;
	float: left;
	width: 41px;
	margin-right: 13px;
	border: #ddd 1px solid;
	line-height: 1.6em;
	padding: 2px;
}

.radio-list{
    max-height: 200px;
    overflow: auto;
    text-align: left;
    border: 1px solid #ccc;
	width:100%;
}
.radio-list li{
	padding: 5px;
    background-color: #eee;
}

.option_hidden{
	display: none;
}


.page-sections {
}
.all-sections .sortable-list{
    height:150px;
}
.add-sections a{
    margin: 2px 0px 0 10px !important;
}



.switch {
    display: table-cell;
    vertical-align: middle;
		padding: 5px 0px;
}
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-round + label {
  padding: 2px;
  width: 55px;
  height: 28px;
  background-color: #dddddd;
  border-radius: 28px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 28px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #5fba7d;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 28px;
}

span.section_name{
  color:#999;
  display: inline-block;
}
select:invalid { color:#999; }
::placeholder { color:#999; }
::-webkit-input-placeholder { color:#999; }
::-moz-placeholder { color:#999; } /* firefox 19+ */
:-ms-input-placeholder { color:#999; } /* ie */
input:-moz-placeholder { color:#999; }

#all-section-drop {
    float: right;
    height: 28px;
    margin: 0 0 0 6px;
    border: 1px solid #ddd;
    border-top: none;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
}

.section-panels-box{
	margin-left: 0px;
}
.section-panels-box .all-section-panel {
  display:none;
  width: 281px;
  margin-left: -300px;
  clear: both;
  float: left;
  padding-top: 0;
}

.section-panels-box .page-section-panel{
	float: left;
  min-width: 100%;
}

.section-panels-box .search-section-header{
	position:relative;
	margin: 0 -1px -2px -1px;
}

.section-panels-box .search-section-header input{
	width: 100%;
	padding: 8px;
}
.section-panels-box .search-section-header .spinner{
	position: absolute;
	right: 0;
	top: 4px;
}

.section-panels-box .all-section-panel ol{
	width: 100%;
	height: 333px;
	overflow: auto;
	padding: 0;
	border: 1px solid #ddd;
	background-color: #fdfdfd;
	list-style-type: none;
	margin: 0;
}
 .section-panels-box .all-section-panel ol span.text{
	display: block;
	padding: 8px;
	font-size: 12px;
	color: #5E6977;
	background-color: #f7f7f7;
	border-bottom: 1px solid #e5e5e5;
 }
.section-panels-box .all-section-panel ol li{
	padding: 0;
	margin: 0;
}
.section-panels-box .all-section-panel label{
	padding: 8px;
	margin: 0;
  padding-right: 28px;
}
.section-panels-box .all-section-panel ol li:hover{
	background-color: rgba(180, 180, 180, 0.3);
}
.section-panels-box .all-section-panel ol li a.edit{
	float: right;
	margin-top: -26px;
	margin-right: 8px;
}

.section-panels-box .all-section-panel ol li a.edit:before {
	display: inline-block;
	text-decoration: none;
	float: right;
	width: 18px;
	height: 18px;
	font-size: 18px;
	line-height: 1;
	font-family: dashicons;
	color: rgba(180, 180, 180, 0.69);
	-webkit-transition: color .1s ease-in 0;
	transition: color .1s ease-in 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}
.new-section-drop{
	position: relative;
	display: inline-block;
}

.new-section-drop > a:before{
	padding: 3px;
	margin-left: -10px;
}
.new-section-drop ul{
	display: none;
	position: absolute;
	position: absolute;
	z-index: 9;
	background: #ccc;
	left: 0px;
	top: 17px;
  width: 230px;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
	box-shadow: 0 3px 5px rgba(0,0,0,.2);
}
.new-section-drop:hover ul{
	display:block
}

.new-section-drop ul li{
	color: #555;
	border-color: #ccc;
	background: #f7f7f7;
	-webkit-box-shadow: 0 1px 0 #ccc;
	box-shadow: 0 1px 0 #ccc;
	vertical-align: top;

}
.new-section-drop ul li:before {
    display: inline-block;
    font-size: 16px;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    color: rgba(180, 180, 180, 0.69);
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 5px;
    top: 5px;
    padding-left: 5px;
    line-height: 1em;
}
.new-section-drop ul li a{
	padding: 10px !important;
	margin: 0px 0 -5px !important;
	display: block;
	text-align: left;
	text-decoration: none !important;
}
.new-section-drop ul li a:before{
	text-decoration: none !important;
	padding: 1px 10px;
}
.add-section{
	text-align: center;
	padding: 26px 0px;
	background-color: #f7f7f7;
	border: 1px solid #e5e5e5;
}
.section_text{
		display: block;
    padding: 22px 10px 0;
    font-size: 12px;
    color: #5E6977;
}
.add-section .add-existing{
	margin-right: 20px;
	vertical-align: middle;
	line-height: 40px;
	height: 40px;
}
.all-section-panel ul{
    margin-bottom: -7px;
}
.all-section-panel ul#posttype-section-tabs li{
	display: inline-block;
}

.all-section-panel ul#posttype-section-tabs li a{
	text-decoration: none;
}

.rffw-color,
.rffw-dropdown,
.rffw-text{
  height: 42px !important;
  border-radius: 6px !important;
  border: 2px solid #e1e8ee !important;
}

.rffw-framework .wp-picker-clear,
.rffw-framework .wp-color-result{
	height: 36px !important;
	border-radius: 6px !important;
	border: 2px solid #e1e8ee !important;
}
.rffw-framework .wp-color-result .color-alpha{
	width: 40px !important;
}
.rffw-framework .wp-color-result span{
	height: 100% !important;
	line-height: 34px;
	border-radius: 6px !important;
}
.rffw-framework .wp-color-result::after{
	line-height: 38px;
}
.rffw-framework .form-wrap p,
.rffw-framework p.description,
.rffw-framework p.help,
.rffw-framework span.description{
	font-size: 12px !important;

}
#my-custom-fields .rffw_option_header{
  position: relative;
	cursor: pointer;
}
#my-custom-fields .rffw_option_header .dashicons{
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 42px;
    text-align: left;
    width: 42px;
    height: 42px;
    padding: 20px 0;
}
#my-custom-fields .js-accordion-header.ui-state-active .dashicons::before{
	content: "\f343";
}


/*remove style*/
#my-custom-fields .accordion-content{
	border:1px solid #fff !important;
	background: #fff !important;

}

#my-custom-fields .js-accordion-header{
	border:none !important;
	background: none !important;
  color: inherit !important;
	border-radius: none !important;
}

.rffw-admin-menu-item .wp-menu-image::before{
}
li.rffw-admin-menu-item-sub::before{
	content: '';
	display: none;
}
a.rffw-admin-menu-item-sub{
	position: relative;
}
a.rffw-admin-menu-item-sub::before{
	position: absolute;
	right: 10px;
}
