fieldset#rf-select-heading label input {
  border: 1px solid #116098;
  margin-bottom: 60px;
}

fieldset#rf-select-heading ul li {
  display: inline-block;
  margin-right: 25px;
  width:auto;
}

.redux-group-tab h2 {
  font-size: 36px;
  /*text-decoration: underline;*/
  line-height: 48px;
  border-bottom: 3px solid #323232;
  border-bottom: 3px solid rgba(50,50,50, 0.3);
}

.redux-main .divide {
    height: 16px !important;
    float: none;
    display: block;
    width: 100%;
    position: relative;
    background-color: #323232;
    background-color: rgba(50,50,50, 0.2);
    margin: 0;
}

.redux-container .redux-main img.menu-picker {
  width: 85% !important;
}

#the_consultant-select-heading input[type="radio"] {
  position: relative;
  margin-top: -56px;
}

.redux-main .divide .inner {
  display: none;
}
