/* CSS for frontend editor */
.screen-reader-text{
	display:none;
}
#TB_ajaxWindowTitle{
	display:none;
}
.button.editpage,
.button.thickbox{
	position:absolute !important;
	background-color:transparent !important;
	right:20px;
	top:20px;
	z-index: 5;
	text-decoration: none;
}
section.page-header .button.editpage,
section.page-header .button.thickbox{
	top:auto;
	bottom: 20px;
}
.button.thickbox:before {
    font-family: "dashicons";
    content: "\f119";
		color: #fff;
    font-size: 30px;
    text-shadow: #000 0px 0px 22px;
}
.button.editpage:before {
    font-family: "dashicons";
    content: "\f111";
	color: #fff;
    font-size: 30px;
    text-shadow: #000 0px 0px 22px;
}
.rf-error{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #f2dede;
	border: #af272d 1px solid;
}
