#wpcontent,
#footer {
	margin-left: 0px;
}
#wpcontent > div:first-of-type {
    position: absolute;
    top: -999px;
}
#adminmenuback,
#adminmenuwrap{
	display:none;
}
html.wp-toolbar{
	padding-top: 0px;
}
.auto-fold #wpcontent,
.auto-fold #wpfooter {
	margin-left: 0px !important;
}
#view-post-btn{
	display:none;
}
.page-title-action{
	display:none;
}

#setting-error-tgmpa,
#postdivrich{
	display: none;
}

.wp-editor-expand #wp-content-editor-tools{
	 top: 0 !important;
	 	position: absolute !important;
}
.wp-editor-expand div.mce-toolbar-grp{
	 top: 0 !important;
	position: absolute !important;
}


.vc_navbar,
.vc_subnav-fixed {
    top: 0 !important;
}
.vc_control-preview{
	display: none !important;
}
