.btn {
  display: inline-block;

  @include borderRadius($button-border-radius+px);
  @include transition_extend(.3s, ease-in-out);

  font-family: $button-font-font-family;
  font-size: $button-font-font-size;
  text-decoration: none !important;
  font-weight: $button-font-font-weight;
  line-height: $button-font-line-height;
  text-transform: $button-font-text-transform;

  border: none;
  white-space: normal;
  padding: $button-padding-top+px $button-padding-right+px $button-padding-bottom+px $button-padding-left+px;

  &:not(.btn-primary):not(.btn-success):not(.btn-info):not(.btn-danger):not(.btn-link) {
    background-color: $button-bg-color-dark-regular;
    color: $button-fg-color-dark-regular;
  }

  &.btn-link {
    color: $theme-primary-color-color;

    .svg-inline--fa {
      color: inherit !important;
    }

    .light-text & {
      @extend .body-light;
    }
  }

  .btn-group & {
    margin-right: 11px;

    &:first-child:not(:last-child):not(.dropdown-toggle),
    &:not(:first-child):not(:last-child):not(.dropdown-toggle),
    &:last-child:not(:first-child) {
      @include borderRadius($button-border-radius+px);
    }
  }

  .glyphicon {
    font-size: 0.7em;
    overflow: hidden;
    text-indent: -40px;
    padding-left: 0;
    @include transition_extend(.6s, ease-in-out);
  }

  &:hover {
    &:not(.current):not(.dots) {
      &:not(.no-hover) {
        @include boxShadow_ext(0px, 3*$button-raise+px, 6*$button-raise+px, 0, 0, 0, 0.2);
        transform: scale((100+$button-raise)/100, (100+$button-raise)/100);
      }

      background-color: $button-bg-color-dark-hover !important;
      color: $button-fg-color-dark-hover !important;

      .glyphicon {
        text-indent: 0px;
        padding-left: 3px;
      }
    }
  }

  .light-text & {
    &:not(.btn-alt) {
      &:not(.btn-primary):not(.btn-success):not(.btn-info):not(.btn-danger):not(.btn-link) {
        background-color: $button-bg-color-light-regular;
        color: $button-fg-color-light-regular;
      }

      &:hover {
        background-color: $button-bg-color-light-hover !important;
        color: $button-fg-color-light-hover !important;
      }
    }
  }

  &.no-hover {
    cursor: default;
  }

  svg:not(:root).svg-inline--fa {
    margin-left: 11px;
  }



  &.btn-xs {
    padding-top: ($button-padding-top * 0.7)+px;
    padding-right: ($button-padding-right * 0.7)+px;
    padding-bottom: ($button-padding-bottom * 0.7)+px;
    padding-left: ($button-padding-left * 0.7)+px;
    font-size: ($button-font-font-size * 0.9);
  }

  &.btn-sm {
    padding-top: ($button-padding-top * 0.9)+px;
    padding-right: ($button-padding-right * 0.9)+px;
    padding-bottom: ($button-padding-bottom * 0.9)+px;
    padding-left: ($button-padding-left * 0.9)+px;
    font-size: ($button-font-font-size * 0.9);
  }

  &.btn-lg {
    padding-top: ($button-padding-top * 1.2)+px;
    padding-right: ($button-padding-right * 1.2)+px;
    padding-bottom: ($button-padding-bottom * 1.2)+px;
    padding-left: ($button-padding-left * 1.2)+px;
    font-size: ($button-font-font-size * 1);
  }
}