#comments {
	margin: 22px 0 0 0;
	font-size: 0.9em;
	display: inline-block;
	width: 100%;

	a:not(.btn) {
		color: $link-color-dark-regular;
		text-decoration: none;
		@include transition_ext(0.3s);

		&:hover {
			color: $link-color-dark-hover;
		}

		&:active {
			color: $link-color-dark-active;
		}

		.light-text & {
		  color: $link-color-light-regular;

		  &:hover {
		  	color: $link-color-light-hover;
		  }

		  &:active {
		  	color: $link-color-light-active;
		  }
		}
	}

	.comment-list {
		margin: 0;
		padding: 0;
		list-style: none;
		border-top: transparentize($body-dark-color, .9) 2px solid;
		border-bottom: transparentize($body-dark-color, .9) 2px solid;

		.light-text & {
			border-color: transparentize($body-light-color, .9);
		}

		.comment {
			padding: 22px 0;
			border-top: transparentize($body-dark-color, .9) 2px solid;

			.light-text & {
				border-color: transparentize($body-light-color, .9);
			}

			.comment-body {
				display: table;
				vertical-align: top;

				.comment-left,
				.comment-right {
					display: table-cell;
					vertical-align: top;
				}

				.comment-left {
					width: 82px;

					img {
						margin-right: 22px;
						border-radius: 50%;
						width: 60px;
					}
				}

				.comment-right {
					.comment-author {
						margin: 0 0 22px 0;
					}
				}

				.comment-meta {
					font-size: 0.9em;

					a {
						color: transparentize($body-dark-color, .5);
					}
				}
			}

			ul {
				list-style: none;
				margin: 0;

				&.children {
					padding-left: 44px;
				}

				li {
					&:last-child {
						padding-bottom: 0;
					}

					list-style: none;
				}
			}
		}
	}

	#reply-title {
		font-size: $body-dark-font-size * 1.6;
		margin: 44px 0 22px 0;
	}

	label {
		display: block;
	}

	input:not([type="submit"]),
	textarea {
		max-width: 100%;
		background: transparent;
		outline: none;
		border: none;
		border-bottom: transparentize($body-dark-color, .6) 1px solid;
		margin: 0;
		padding: 0 0 5px 0;
		@include transition_extend(.3s, ease-in-out);

		.light-text & {
			border-bottom-color: transparentize($body-light-color, .6);
		}

		&:focus {
			padding: 0;
			margin: 0 0 5px 0;
			border-bottom-color: transparentize($body-dark-color, 0);

			.light-text & {
				border-bottom-color: transparentize($body-light-color, 0);
			}
		}
	}

	input[type="submit"] {
		@extend .btn;
	}
}