/* input field styling */
label {
	font-weight: 400;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not(.select2-search__field),
textarea {
	display: inline-block;
	background: transparent;
	outline: none !important;
	border: none;
	border-radius: 0;
	box-shadow: none !important;
	border-bottom: transparentize($body-dark-color, .6) 1px solid;
	margin: 0 !important;
	padding: 0 0 5px 0;
	@include transition_extend(.3s, ease-in-out);
}

input[type=checkbox],
input[type=radio] {
	display: inline-block;
	background-color: transparentize($body-dark-color, 1);
	border: 1px solid transparentize($body-dark-color, 0.6);
	@include borderRadius($button-border-radius+px);
	height: 24px !important;
	width: 24px !important;
	padding: 12px !important;
	margin: 0 !important;
	font-size: 12px !important;
	font-weight: 400;
	line-height: 12px !important;
	white-space: normal;
	-webkit-appearance: none;
	vertical-align: top;
	outline: none;
	@include transition_extend(.3s, ease-in-out);

}
input[type=checkbox]:checked,
input[type=radio]:checked {
	background-color: transparentize($body-dark-color, 0);
	border-color: transparentize($body-dark-color, 0);
}

/* Specific gravity form styling */
.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	background-color: transparent !important;
    border-top: none !important;
    border-bottom: none !important;
    padding-bottom: inhrit !important;
    padding-top: inherit !important;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
	margin-top: 0 !important;
}
.gform_wrapper .gfield_error .gfield_label {
	color: inherit !important;
}
.gform_wrapper .field_description_below .gfield_description {
	padding-top: 5px !important;
}
.gform_wrapper .validation_message {
	font-weight: inherit !important;
	color: inherit !important;
}
.gform_wrapper div.validation_error {
	color: inherit !important;
}
.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper li.gfield_error textarea {
	border: none !important;
	border-bottom: transparentize($body-dark-color, .6) 1px solid !important;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper textarea {
	margin: 0 !important;
	padding: 0 0 5px 0 !important;

	&:focus {
		padding: 0 !important;
		margin: 0 0 5px 0 !important;
	}
}



/* Specific mailchimp styling */
.mc4wp-form {

	float:right;

	.footer-mobile & {
		float:none;
	}

	.mc4wp-form-fields {

		p {
			margin:0;
			overflow:hidden;
		}

		label {
			float:left;
			margin: 14px 15px 14px 0;
			line-height:20px;
			font-weight:700;

			.footer-mobile & {
				float:none;
				width:100%;
				text-align:center;
				margin-top:0;
			}

		}

		input:not([type="submit"]) {
			float:left;
			width:auto;
			color:black;
			min-width:250px;
			background:white !important;
			border-radius:24px !important;
			line-height:20px !important;
			padding: 14px 16px 14px 16px !important;
			margin: 0 !important;
			border: none !important;


			.footer-mobile & {
				width:75%;
				min-width:auto;
			}
		}


		input[type="submit"] {
			float:left;
			background-color: #f56a16 !important;
			color:white;
			border:0 !important;
			margin: 0 0 0 -48px !important;
			vertical-align: middle;
			line-height:20px;
			padding: 14px 40px 14px 40px !important;
			border-radius:24px !important;
			font-weight:400;

			&:hover {
				background-color:#ff9800 !important;
			}


			.footer-mobile & {
				width:calc(25% + 48px);
			}
		}

		.footer-mobile & {
			width:100%;
			padding:0 10px 18px 10px;
			font-size:14px;
		}
	}
}
