/* .mobileMenu {
  color: $theme-primary-color-color;
  cursor: pointer;

  a {
    line-height:70px;
    color: $theme-primary-color-color;
  }
} */

/* .search-mobile {
  width: 100%;
  text-align: center;
  padding: 15px 22px 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  form {
    margin: 0;
  }
} */

/* .mobilemenu-icon {
  color: $theme-primary-color-color;
  font-size: 16px;
} */

/* nav.wp_nav_menu_mobile {
  -webkit-box-shadow: -3px 0px 10px -1px rgba(0,0,0,0.25);
  -moz-box-shadow: -3px 0px 10px -1px rgba(0,0,0,0.25);
  box-shadow: -3px 0px 10px -1px rgba(0,0,0,0.25);
} */


/* #mobile-nav-title {
  text-align: center;
  font-size: 14px;
  padding: 15px;
  @extend .title;
  font-weight: 400;
} */

nav.wp_nav_menu_mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  visibility: hidden;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    @include transition_extend(.2s, ease-in-out);
  }

  .wp_nav_menu_mobile-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    padding-top: 15px;
    opacity: 0;
    background-image: linear-gradient(270deg, #ff9800 0%, #f54b16 100%);
    @include transition_extend(.2s, ease-in-out);

    .site-logo-mobile {
      padding:0 20px 20px 20px;

      img {
        height:20px;
        width:auto;
      }
    }
  }

  &.showMenu {
    visibility: visible;

    &:before {
      opacity: 1;
    }

    .wp_nav_menu_mobile-container {
      /*
      width: calc(100% - 60px);
      height: calc(100% - 60px);
      top: 30px;
      left: 30px;
      */
      opacity: 1;
    }

    ul {
        transform: scale(1, 1);
    }
  }

  ul {
    /* background: $theme-background-color-rgba; */
    list-style-type: none;
    padding: 0px;
    transform: scale(0.9, 0.9);

    li {

      a {
        display: inline-block;
        padding: 11px 22px;
        transition: all .2s ease-in-out;
        color: $mobilemenu-link-color-regular;
        text-transform: $mobilemenu-font-text-transform;
        font-family: $mobilemenu-font-font-family;
        font-weight: $mobilemenu-font-font-weight;
        font-size: $mobilemenu-font-font-size;

        &:hover {
          text-decoration: none;
          transform: scale(1.1, 1.1);
          color: $mobilemenu-link-color-hover;
        }
      }

      @media (max-width:767px) {
        a {
          @if ($mobilemenu-font-font-size > 20) {
            $mobilemenu-font-font-size: 20px;
          }

          font-size: $mobilemenu-font-font-size;
        }
      }

      &.current-menu-item {
        a {
          color: $mobilemenu-link-color-active;
        }
      }

      &.menu-item-has-children > a {
        &:after {
          content: '\e072';
          font-family: "Glyphicons Halflings";
          color: inherit;
          position: absolute;
          right: -20px;
          top: calc(50% - 0.5em);
          font-size: 0.5em;
          line-height: 1em;
        }
      }

      &.dl-back > a {
        &:after {
          content: '\e251';
          font-family: "Glyphicons Halflings";
          color: inherit;
          position: absolute;
          left: -20px;
          top: calc(50% - 0.5em);
          font-size: 0.5em;
          line-height: 1em;
        }
      }
    }

    &.sub-menu {
      width:100%;
    }

  }

  &.menu-mobile-side {

    &:before {
      left: -100%;
      background: rgba(0,0,0,0.7);
      @include transition_extend(.5s, ease-in-out);
    }

    .wp_nav_menu_mobile-container {
      width: 300px;
      max-width: 100%;
      height: 100vh;
      top: 0;
      left: auto;
      right: -100%;
      text-align: left;
      background: $mobilemenu-background-color-rgba;
      overflow: hidden;
      padding: 100px 22px 0 22px;
      opacity:1;
      visibility: visible;
      @include transition_extend(.5s, ease-in-out);
    }

    @media (max-width:767px) {
      .wp_nav_menu_mobile-container {
        width: 100%;
      }
    }

    &.showMenu {
      &:before {
        left: 0;
      }

      .wp_nav_menu_mobile-container {
        opacity:1;
        visibility: visible;
        right: 0;
      }

      ul {
        li {
          &.menu-item-has-children > a {
            &:after {
              right: -5px;
            }
          }

          &.dl-back > a {
            &:after {
              left: -5px;
            }
          }
        }
      }
    }

    .mobile-close {
      top: 20px !important;
      right: 20px !important;
    }
  }
}


/* Dl-menu script css */
.dl-menuwrapper {
  width: 100%;
  min-width: 300px;
  // float: left;
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%;
}

.dl-menuwrapper:first-child {
  margin-right: 100px;
}

.dl-menuwrapper .dl-menu {
  margin: 0 0 0 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  max-height: 100vh;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.dl-menuwrapper li .dl-submenu {
  display: none;
}

.dl-menuwrapper ul {
  padding: 0;
  position: absolute;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dl-menuwrapper li {
  position: relative;
}

.dl-menuwrapper li a {
  display: block;
  position: relative;
  outline: none;
}

/*
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link.
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
  display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0;
  margin: 0;
}

/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-1 {
  -webkit-animation: MenuAnimOut1 0.3s ease-in-out;
  animation: MenuAnimOut1 0.3s ease-in-out;
}

@-webkit-keyframes MenuAnimOut1 {
  0% { }
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes MenuAnimOut1 {
  0% { }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}

.dl-menu.dl-animate-in-1 {
  -webkit-animation: MenuAnimIn1 0.3s ease-in-out;
  animation: MenuAnimIn1 0.3s ease-in-out;
}

@-webkit-keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
  -webkit-animation: SubMenuAnimIn1 0.3s ease-in-out;
  animation: SubMenuAnimIn1 0.3s ease-in-out;
}

@-webkit-keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
  -webkit-animation: SubMenuAnimOut1 0.3s ease-in-out;
  animation: SubMenuAnimOut1 0.3s ease-in-out;
}

@-webkit-keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
  display: block;
}

.no-js .dl-menuwrapper li.dl-back {
  display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0,0,0,0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
  // content: '';
}

.menu-button-container {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  height: 100%;
}
.menu-button {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 1;
}
.mobile-open {
  text-align: right;
}
.mobile-close {
  position: absolute;
  display: block;
  right: 20px;
  top: 20px;
}
.menu-button .bar:nth-of-type(1) {
  margin-top: 0px;
}
.menu-button .bar:nth-of-type(3) {
  margin-bottom: 0px;
}

.bar {
  position: relative;
  display: block;
  width: 18px;
  height: 2px;
  margin: 4px auto;
  background-color: $navbar-bottom-link-color-hover;
  @include borderRadius($button-border-radius+px);
  -webkit-transition: .3s;
  transition: .3s;

  header.transparent:not(.sticky) & {
    background-color:white;
  }
}





.mobile-open.cross .bar {
  opacity: 0;
}
.mobile-close .bar {
  background-color: $mobilemenu-link-color-regular;
}
.mobile-close .bar:nth-of-type(1) {
  -webkit-transform: translateY(6px) rotate(-45deg);
  -ms-transform: translateY(6px) rotate(-45deg);
  transform: translateY(6px) rotate(-45deg);
}
.mobile-close .bar:nth-of-type(2) {
  opacity: 0;
}
.mobile-close .bar:nth-of-type(3) {
  -webkit-transform: translateY(-6px) rotate(45deg);
  -ms-transform: translateY(-6px) rotate(45deg);
  transform: translateY(-6px) rotate(45deg);
}
/* .search-mobile .search-form {
  margin-top: 15px;
  display: inline-flex;
  position: relative;
  width: 100%;
}
.search-mobile .search-form input[type="search"] {
  border-radius: 0;
  border: 1px solid #e7e7e7;
  height: 26px;
  font-weight: 400;
  color: rgba(50, 50, 50, 0.75);
  padding-left: 8px;
  border-radius: 0;
  box-shadow: none;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.search-mobile .search-form input[type="search"]:focus {
  outline: none;
  box-shadow: none;
}
.search-mobile .search-form input::-webkit-input-placeholder {
  transition: all 0.2s ease-in-out;
}
.search-mobile .search-form input:-moz-placeholder {
  transition: all 0.2s ease-in-out;
}
.search-mobile .search-form input::-moz-placeholder {
  transition: all 0.2s ease-in-out;
}
.search-mobile .search-form input:-ms-input-placeholder {
  transition: all 0.2s ease-in-out;
}
.search-mobile .search-form input:focus {
  outline: none;
}
.search-mobile .search-form input:focus::-webkit-input-placeholder {
  color: transparent;
}
.search-mobile .search-form input:focus:-moz-placeholder {
  color: transparent;
}
.search-mobile .search-form input:focus::-moz-placeholder {
  color: transparent;
}
.search-mobile .search-form input:focus:-ms-input-placeholder {
  color: transparent;
}
.search-mobile .search-form button {
  background: none;
  border: none;
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 9;
  line-height: 39px;
  color: rgba(50, 50, 50, 0.75);
} */
