.pagination {
  width: 100%;
  text-align: center;
  margin:10px 0;

  .nav-links{
    .page-numbers {
      background-color:transparent;
      border-radius:0;
      padding:5px 10px;
      margin:0;
      color: #53627c;
      font-size: 20px;
      display:inline-block;

      &.current {
        color: #0a1f44;
        font-size: 32px;
        font-weight: 700;
      }

      &.next,
      &.prev {
        display:none;
      }
    }
  }
}
