.single #sidebar {
	margin-top: 22px;
}

aside.widget {
	margin: 0 0 66px 0;
	font-size: $sidebar-widget-content-dark-font-size;
	font-weight: $sidebar-widget-content-dark-font-weight;
	font-style: $sidebar-widget-content-dark-font-style;
	text-transform: $sidebar-widget-content-dark-text-transform;
	color: $sidebar-widget-content-dark-color;
	line-height: $global-content-line-height;

	.light-text & {
		color: $sidebar-widget-content-light-color;
	}

	footer & {
		font-size: $footer-widget-content-font-size;
		font-weight: $footer-widget-content-font-weight;
		font-style: $footer-widget-content-font-style;
		text-transform: $footer-widget-content-text-transform;
		color: $footer-widget-content-color;
		margin: 0;
	}

	a:not(.btn) {
		color: inherit;
		text-decoration: none;
		@include transition_ext(0.3s);

		&:hover {
			color: $link-color-dark-hover;
		}

		&:active {
			color: $link-color-dark-active;
		}

		.light-text & {
		  color: inherit;

		  &:hover {
		  	color: $link-color-light-hover;
		  }

		  &:active {
		  	color: $link-color-light-active;
		  }
		}

		footer & {
			color: $footer-link-color-regular;

			&:hover {
				color: $footer-link-color-hover;
			}

			&:active {
				color: $footer-link-color-active;
			}
		}
	}

	h3 {
		padding: 0 0 22px 0;
		margin: 0;
		font-size: $sidebar-widget-title-dark-font-size;
		font-weight: $sidebar-widget-title-dark-font-weight;
		font-style: $sidebar-widget-title-dark-font-style;
		text-transform: $sidebar-widget-title-dark-text-transform;
		color: $sidebar-widget-title-dark-color;
		line-height: $global-title-line-height;

		.light-text & {
			color: $sidebar-widget-title-light-color;
		}

		footer & {
			font-size: $footer-widget-title-font-size;
			font-weight: $footer-widget-title-font-weight;
			font-style: $footer-widget-title-font-style;
			text-transform: $footer-widget-title-text-transform;
			color: $footer-widget-title-color;
		}

		&:empty {
		  display: none;
		}
	}

	.search-form {
	  	margin: 0;
	  	width: 100%;
	  	display: block;

	  	input {
	  		width: 100%;
	  		box-sizing: border-box;
	  	}

	  	button {
	  		display: none;
	  	}
	}

  	img {
    	max-width: 100%;
  	}

  	select {
	    background:rgba(0,0,0,0.05);
	    border: none;
	    height: 40px;
	    width: 100%;
	    padding: 10px;
	    transition: background-color .2s ease-in-out;

	    &:focus {
	      outline: none;
	      background-color: darken(#F6F6F6, 3);
	    }
  	}

  	ul {
	    margin:0;
	    padding:0;
	    list-style:none;

    	li {
	      	margin:0;
	      	list-style:none;
	      	border-bottom:1px solid rgba(0,0,0,0.1);
	      	font-weight: 500;
	      	display:block;
	      	padding:5px 0;
      	}

      	ul {
        	padding-top: 5px;
        	margin: 0;

        	li {
	          	padding-left:22px;
	          	border-top:1px solid rgba(0,0,0,0.1);
	          	border-bottom: none;

	          	&:last-child {
	        		padding-bottom: 0;
	        	}
        	}
      	}
    }

	ul.children ul.children ul.children ul.children ul.children {
		padding-left: 0px;
	}

	&.widget_rss {
	  	.rsswidget {
	   		font-weight: 700;
	  	}

	  	.rss-date {
	    	display: block;
	  	}
	}

	&.widget_recent_entries {
	  	.post-date {
	    	display: block;
	  	}
	}

	&.widget_calendar {
	  	caption {
	    	text-align: center;
	  	}

	  	table#wp-calendar {
	  		width: 100%;

	    	th {
	      		width: 30px;
	      		text-align: center;
	    	}

	    	tbody {
	      		tr {
	        		td {
	          			text-align: center;
	        		}

	        		td#today {
	          			border-radius: 50px;
	        		}
	      		}
	    	}
	  	}
	}

	&.metadata-project {
		ul {
			li {
				position: relative;
				display: inline-block;
				width: 100%;

				span {
					width: 100%;
					display: inline-block;
					font-weight: 400;
					/* float: left; */

					&:first-child {
						width: 100%;
						font-weight: 700;
					}
				}
			}
		}
	}

	&.metadata-people {
		ul {
			li {
				span {
					width: auto;

					&:first-child {
						padding-right: 5px;
					}
				}
			}
		}
	}
}
