// === Styling [ Light ] === \\
.title-light {
  color: $title-light-color;
}

.subtitle-light {
  color: $subtitle-light-color;
}

.page-subtitle-light { // Add to redux!
  color: $page-subtitle-light-color;
}

.body-light {
  color: $body-light-color;
}

.metadata-light {
  color: $metadata-light-color;
}



// === Default styling [ Dark ] === \\
.title {
  font-family: $theme-primary-font-family;
  font-size: $title-dark-font-size;
  font-style: $title-dark-font-style;
  font-weight: $title-dark-font-weight;

  text-transform: $title-dark-text-transform;
  line-height: $global-title-line-height;

  color: $title-dark-color;

  .light-text & {
    @extend .title-light;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $theme-primary-font-family;
}

.subtitle {
  font-family: $theme-primary-font-family;
  font-size: $subtitle-dark-font-size;
  font-style: $subtitle-dark-font-style;
  font-weight: $subtitle-dark-font-weight;

  text-transform: $subtitle-dark-text-transform;
  line-height: $global-title-line-height;

  color: $subtitle-dark-color;

  .light-text & {
    @extend .subtitle-light;
  }
}

@media (max-width:767px) {
  .subtitle {
    font-size:18px;
  }
}

.page-subtitle { // Add to redux!
  font-family: $theme-primary-font-family;
  font-size: $page-subtitle-dark-font-size;
  font-style: $page-subtitle-dark-font-style;
  font-weight: $page-subtitle-dark-font-weight;

  text-transform: $page-subtitle-dark-text-transform;
  line-height: $global-title-line-height;

  color: $page-subtitle-dark-color;

  .light-text & {
    @extend .page-subtitle-light;
  }
}

.body,
body {
  font-family: $theme-secondary-font-family;
  font-size: $body-dark-font-size;
  font-style: $body-dark-font-style;
  font-weight: $body-dark-font-weight;

  text-transform: $body-dark-text-transform;
  line-height: $global-content-line-height;

  color: $body-dark-color;

  .light-text & {
    @extend .body-light;
  }
}

.metadata {
  font-family: $theme-secondary-font-family;
  font-size: $metadata-dark-font-size;
  font-style: $metadata-dark-font-style;
  font-weight: $metadata-dark-font-weight;

  text-transform: $metadata-dark-text-transform;
  line-height: $global-content-line-height;

  color: $metadata-dark-color;

  .light-text & {
    @extend .metadata-light;
  }
}
