body.woocommerce,
body.woocommerce-page {
  #content {
    #respond input#submit,
    a.button,
    button.button,
    input.button,
    #respond input#submit.alt,
    a.button.alt,
    button.button.alt,
    input.button.alt {
      @extend .btn;

      &:disabled {
        background-color: $button-bg-color-dark-regular !important;
        color: $button-fg-color-dark-regular !important;
        padding: $button-padding-top+px $button-padding-right+px $button-padding-bottom+px $button-padding-left+px !important;
      }

      &:hover:not(.current):not(.dots) {
        &:not(.no-hover) {
          box-shadow:none;
          transform: none;
        }
      }
    }

    input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
    textarea {
      padding: $button-padding-top+px 5px $button-padding-bottom+px 5px !important;
      background:white;
      border:1px solid #eeeeee;
      margin:-1px 0 0 0 !important;

      &:focus {
        padding: $button-padding-top+px 5px $button-padding-bottom+px 5px !important;
        margin:-1px 0 0 0 !important;
        border-color: transparentize($body-dark-color, 0);
      }
    }

    select {
      padding:10px 5px;
      line-height:1em;
      border:1px solid #eeeeee;
      border-radius:0;
      height:40px;
    }

    #main {
      .woocommerce-result-count {
        padding:10px 0;
        line-height:1em;
      }
      .woocommerce-ordering select {
        padding:10px 5px;
        line-height:1em;
        border:1px solid #eeeeee;
      }

      .woocommerce-pagination {
        ul.page-numbers {
          border:0px;

          li {
            margin:0 5px 0 0;

            span,
            a {
              @extend .btn;
            }
          }
        }
      }

      ul.products {
        li.product {
          text-align:center;

          .woocommerce-loop-category__title,
          .woocommerce-loop-product__title,
          h3 {
            text-align:center;
            font-size:1.2em;
          }

          .star-rating {
            margin-left: auto;
            margin-right: auto;
          }

          .price {
            font-size:1em;
            line-height:1.2em;
            color:black;
          }
        }
      }


      div.product {
        p.price {
          color:black;
        }

        form.cart {
          .quantity {
            margin-right:10px;

            input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]) {
              max-width:50px;
              text-align:center;
            }
          }
        }

        .product_meta {
          > span {
            display:block;
          }
        }

        table {

          td {
            padding:0 0 10px 0;
            color: inherit;
            font-size:1em;
            vertical-align: middle;

            .amount,
            label {
              padding:13px 0;
              line-height:1em;
              font-weight:normal;
            }
            .amount {
              margin-left:10px;
            }
          }
        }

        .woocommerce-tabs {

          ul.tabs {
            margin:0;

            li,
            li::before,
            li::after {
              border-radius:0px;
            }
          }

          .panel {
            padding:20px;

            #reviews {

              #comments {
                margin:0;
                font-size:1em;

                ol.commentlist li .comment-text {
                  border-radius:0;
                }
              }
            }

            table.shop_attributes td {
              padding:0 8px;
            }
          }
        }
      }
    }

    .woocommerce-cart-form {
      table {
        border-radius:0;

        input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]) {
          text-align:center;
          /* padding: $button-padding-top+px 5px $button-padding-bottom+px 5px !important; */
          padding: 12px 5px 12px 5px !important;
          background:white;
          border:1px solid #eeeeee;
          margin:-1px 0 0 0 !important;
        }

        .quantity {
          input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]) {
            max-width:50px;
          }
        }

        .coupon {
          #coupon_code {
            width:auto !important;
            max-width:none;
            margin:0 5px 0 0 !important;
          }

          input.button {
            /* border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border:1px solid #eee; */
          }
        }
      }
    }

    .cart-collaterals .cart_totals table {
      border-radius:0;
      th {
        border-top: 1px solid #ebe9eb;
      }
    }

    .checkout-button {
      width:100%;
      padding: 1em;
    }

    .checkout {
    }
  }

  .woocommerce-info,
  .woocommerce-message,
  .woocommerce-notice,
  .woocommerce-noticeGroup {
    background:white;
  }

  .woocommerce-checkout {

    #customer_details {
      margin:0 0 20px 0;
    }

    .select2-container--default .select2-selection--single {
      padding:6px 5px;
      border:1px solid #eeeeee;
      border-radius:0;
      height:40px;

      .select2-selection__arrow {
        height:40px;
        padding:10px 0;
      }
    }

    .select2-dropdown {
      border-color: #eeeeee;
    }

    #ship-to-different-address {
      .checkbox input {
        position:relative;
        cursor:pointer;
      }
      label {
        margin:0;
      }
    }

    table.shop_table,
    #payment {
      border-radius:0px;
    }
  }

  .woocommerce-MyAccount-navigation {
    ul {
      list-style:none;
      margin:0;
      padding:0;

      li {
        margin:0 0 5px 0;

        a {
          display:block;
          @extend .btn;

          &:hover:not(.current):not(.dots) {
            &:not(.no-hover) {
              box-shadow:none;
              transform: none;
            }
          }
        }
      }
    }
  }
}
